Repository imperial-space/SW-public, pull requests merged in 2025-10, with the labels that each got.

#394 Вещи + чето там у тифлингов
  Resources/Locale/ru-RU/Imperial/Medieval/medieval.ftl
  Resources/Locale/ru-RU/Imperial/Medieval/steampunk.ftl
  Resources/Prototypes/Imperial/Medieval/clothes.yml
  Resources/Prototypes/Imperial/Medieval/tifling.yml
  Resources/Textures/Imperial/Medieval/Clothing/Eyes/steampunk.rsi/equipped-EYES.png
  Resources/Textures/Imperial/Medieval/Clothing/Eyes/steampunk.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Eyes/steampunk.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Clothing/Head/steampunk-hat.rsi/equipped-HELMET.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/steampunk-hat.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/steampunk-hat.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Species/Tifling/horns.rsi/horn1.png
  Resources/Textures/Imperial/Medieval/Species/Tifling/horns.rsi/horn2.png
  Resources/Textures/Imperial/Medieval/Species/Tifling/horns.rsi/horn3.png
  Resources/Textures/Imperial/Medieval/Species/Tifling/horns.rsi/horn4.png
  Resources/Textures/Imperial/Medieval/Species/Tifling/horns.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Species/Tifling/parts.rsi/head_f.png
  Resources/Textures/Imperial/Medieval/Species/Tifling/parts.rsi/head_m.png
  Resources/Textures/Imperial/Medieval/Species/Tifling/parts.rsi/l_arm.png
  Resources/Textures/Imperial/Medieval/Species/Tifling/tails.rsi/tail_smooth_primary.png
  Resources/Textures/Imperial/Medieval/Species/Tifling/tails.rsi/tail_smooth_secondary.png
  Resources/Textures/Imperial/Medieval/Species/Tifling/tails.rsi/tail_smooth_wagging.png
Labels: Change WIz Prototypes, Prototypes, Resprite, Sprite, size/Small

#399 fix(src): Фиксы апстрима
  Content.Client/Imperial/Medieval/Plague/MedievalPlagueSystem.cs
  Content.Server/Imperial/Medieval/Plague/Systems/MedievalPlagueSystem.cs
  Content.Server/Imperial/Medieval/Surrender/SurrenderSystem.cs
  Content.Shared/Imperial/Medieval/Language/Systems/SharedLanguageSystem.Translator.cs
  Content.Shared/Imperial/Medieval/Plague/EntityEffects/GrantPlagueImmunity.cs
  Content.Shared/Imperial/Medieval/Plague/EntityEffects/ProgressPlague.cs
  Content.Shared/Imperial/Medieval/Plague/GrantPlagueImmunity.cs
  Content.Shared/Imperial/Medieval/Plague/SharedPlagueSystem.cs
Labels: C#

#395 Sunstrike spell & DelayedSpawn comp/system
  Content.Server/Spawners/Components/DelayedSpawnComponent.cs
  Content.Server/Spawners/EntitySystems/DelayedSpawnSystem.cs
  Content.Shared/Imperial/Medieval/Magic/Other/ProjectileCursorFollower/ProjectileCursorFollowerComponent.cs
  Content.Shared/Imperial/Medieval/Magic/Other/ProjectileCursorFollower/ProjectileCursorFollowerSystem.cs
  Resources/Audio/Imperial/Medieval/sunstrike_static.ogg
  Resources/Locale/ru-RU/Imperial/Medieval/Magic/Spells/light.ftl
  Resources/Prototypes/Imperial/Medieval/Magic/Spells/Light/Sunstrike/actions.yml
  Resources/Prototypes/Imperial/Medieval/Magic/Spells/Light/Sunstrike/effect.yml
  Resources/Prototypes/Imperial/Medieval/Magic/Spells/Light/Sunstrike/projectiles.yml
  Resources/Prototypes/Imperial/Medieval/Magic/Spells/Light/Sunstrike/strore.yml
  Resources/Textures/Imperial/Medieval/Gun/Charmer/sunstrike.rsi/beginner.png
  Resources/Textures/Imperial/Medieval/Gun/Charmer/sunstrike.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Gun/Charmer/sunstrike.rsi/middle.png
  Resources/Textures/Imperial/Medieval/Gun/Charmer/sunstrike.rsi/senior.png
  Resources/Textures/Imperial/Medieval/Magic/sunstrike.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Magic/sunstrike.rsi/middle.png
  Resources/Textures/Imperial/Medieval/Magic/sunstrike.rsi/senior.png
  Resources/Textures/Imperial/Medieval/Magic/sunstrike.rsi/spot-middle.png
  Resources/Textures/Imperial/Medieval/Magic/sunstrike.rsi/spot-senior.png
  Resources/Textures/Imperial/Medieval/SpellCastEffects/light/sunstrike.rsi/meta.json
  Resources/Textures/Imperial/Medieval/SpellCastEffects/light/sunstrike.rsi/middle.png
  Resources/Textures/Imperial/Medieval/SpellCastEffects/light/sunstrike.rsi/senior.png
Labels: Change Wiz Code, C#, Change WIz Prototypes, Prototypes, Resprite, Sprite, size/Small, Audio, Change Wiz Audio
