Repository imperial-space/SW-public, pull requests merged in 2025-03, with the labels that each got.

#4 Добавление абстрактных entity для шлемов
  Resources/Prototypes/Imperial/Medieval/helmets.yml
Labels: Changes: No C#

#3 Удаление ванильных крафтов
  Resources/Prototypes/Recipes/Construction/utilities.yml
  Resources/Prototypes/Recipes/Crafting/improvised.yml
Labels: Changes: No C#

#7 Плащи
  Resources/Locale/ru-RU/Imperial/Medieval/medieval.ftl
  Resources/Prototypes/Imperial/Medieval/cloaks.yml
  Resources/Prototypes/Imperial/Medieval/helmets.yml
  Resources/Prototypes/Imperial/Medieval/jobs.yml
  Resources/Prototypes/Imperial/Medieval/latheresipes.yml
  Resources/Prototypes/Imperial/Medieval/lathes.yml
  Resources/Textures/Imperial/Medieval/Clothing/Cloaks/civilian_brown.rsi/equipped-NECK.png
  Resources/Textures/Imperial/Medieval/Clothing/Cloaks/civilian_brown.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Cloaks/civilian_brown.rsi/inhand-left.png
  Resources/Textures/Imperial/Medieval/Clothing/Cloaks/civilian_brown.rsi/inhand-right.png
  Resources/Textures/Imperial/Medieval/Clothing/Cloaks/civilian_brown.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Clothing/Cloaks/civilian_dark.rsi/equipped-NECK.png
  Resources/Textures/Imperial/Medieval/Clothing/Cloaks/civilian_dark.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Cloaks/civilian_dark.rsi/inhand-left.png
  Resources/Textures/Imperial/Medieval/Clothing/Cloaks/civilian_dark.rsi/inhand-right.png
  Resources/Textures/Imperial/Medieval/Clothing/Cloaks/civilian_dark.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Clothing/Cloaks/civilian_green.rsi/equipped-NECK.png
  Resources/Textures/Imperial/Medieval/Clothing/Cloaks/civilian_green.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Cloaks/civilian_green.rsi/inhand-left.png
  Resources/Textures/Imperial/Medieval/Clothing/Cloaks/civilian_green.rsi/inhand-right.png
  Resources/Textures/Imperial/Medieval/Clothing/Cloaks/civilian_green.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Clothing/Head/cloak_hood.rsi/equipped-HELMET.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/cloak_hood.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/cloak_hood.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Clothing/Head/cloak_hood2.rsi/equipped-HELMET.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/cloak_hood2.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/cloak_hood2.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Clothing/Head/cloak_hood3.rsi/equipped-HELMET.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/cloak_hood3.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/cloak_hood3.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#6 Меховая шапка + Крафт грядки
  Resources/Locale/ru-RU/Imperial/Medieval/medieval.ftl
  Resources/Prototypes/Imperial/Medieval/crafts.yml
  Resources/Prototypes/Imperial/Medieval/helmets.yml
  Resources/Prototypes/Imperial/Medieval/jobs.yml
  Resources/Prototypes/Imperial/Medieval/latheresipes.yml
  Resources/Prototypes/Imperial/Medieval/lathes.yml
  Resources/Textures/Imperial/Medieval/Clothing/Head/fur_hat1.rsi/equipped-HELMET.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/fur_hat1.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/fur_hat1.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#10 Фикс Плащи
  Resources/Prototypes/Imperial/Medieval/jobs.yml
Labels: Changes: No C#

#9 Добавлен кошмарный пещерный паук
  Resources/Locale/ru-RU/Imperial/Medieval/medieval.ftl
  Resources/Prototypes/Imperial/Medieval/mobs.yml
  Resources/Prototypes/Imperial/Medieval/resourses.yml
  Resources/Prototypes/Imperial/Medieval/rpgspawns.yml
  Resources/Prototypes/Imperial/Medieval/slow_mob_spawns.yml
  Resources/Textures/Imperial/Medieval/Materials/mdv.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Materials/mdv.rsi/spider_eye.png
  Resources/Textures/Imperial/Medieval/Mobs/cave_spider_strong.rsi/base.png
  Resources/Textures/Imperial/Medieval/Mobs/cave_spider_strong.rsi/dead.png
  Resources/Textures/Imperial/Medieval/Mobs/cave_spider_strong.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#11 Обновление спрайтов материалов
  Resources/Textures/Objects/Materials/materials.rsi/cloth.png
  Resources/Textures/Objects/Materials/materials.rsi/cloth_2.png
  Resources/Textures/Objects/Materials/materials.rsi/cloth_3.png
  Resources/Textures/Objects/Materials/materials.rsi/meta.json
  Resources/Textures/Objects/Materials/materials.rsi/wood-inhand-left.png
  Resources/Textures/Objects/Materials/materials.rsi/wood-inhand-right.png
  Resources/Textures/Objects/Materials/materials.rsi/wood.png
  Resources/Textures/Objects/Materials/materials.rsi/wood_2.png
  Resources/Textures/Objects/Materials/materials.rsi/wood_3.png
  Resources/Textures/Objects/Specific/Hydroponics/towercap.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/towercap.rsi/produce.png
Labels: Changes: Sprites, Changes: No C#

#18 Добавлены тканевые перчатки
  Resources/Locale/ru-RU/Imperial/Medieval/medieval.ftl
  Resources/Prototypes/Imperial/Medieval/clothes.yml
  Resources/Textures/Imperial/Medieval/Clothing/Gloves/cloth_gloves.rsi/equipped-HAND.png
  Resources/Textures/Imperial/Medieval/Clothing/Gloves/cloth_gloves.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Gloves/cloth_gloves.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#16 Стилус -> Перо / Иные изменения
  Resources/Locale/ru-RU/Imperial/Medieval/medieval.ftl
  Resources/Prototypes/Imperial/Medieval/medieval.yml
  Resources/Prototypes/Imperial/Medieval/tags.yml
  Resources/Textures/Imperial/Medieval/Misc/medieval_paper.rsi/pen.png
Labels: Changes: Sprites, Changes: No C#

#15 hotfix: Фикс нерабочей кнопки меню языков
  Content.Client/Imperial/Medieval/Language/UI/LanguageEntry.xaml.cs
  Content.Client/Imperial/Medieval/Language/UI/LanguageMenuWindow.xaml.cs
  Content.Client/UserInterface/Systems/MenuBar/GameTopMenuBarUIController.cs
  Resources/Locale/ru-RU/Imperial/Languages/language-menu.ftl
Labels: Changes: UI

#23 Белая вариация одежды магов коллегии
  Resources/Locale/ru-RU/Imperial/Medieval/medieval.ftl
  Resources/Prototypes/Imperial/Medieval/armor.yml
  Resources/Prototypes/Imperial/Medieval/clothes.yml
  Resources/Prototypes/Imperial/Medieval/helmets.yml
  Resources/Textures/Imperial/Medieval/Clothing/Armor/white_charmer_light.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Imperial/Medieval/Clothing/Armor/white_charmer_light.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Armor/white_charmer_light.rsi/inhand-left.png
  Resources/Textures/Imperial/Medieval/Clothing/Armor/white_charmer_light.rsi/inhand-right.png
  Resources/Textures/Imperial/Medieval/Clothing/Armor/white_charmer_light.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Clothing/Armor/white_charmer_weak.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Imperial/Medieval/Clothing/Armor/white_charmer_weak.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Armor/white_charmer_weak.rsi/inhand-left.png
  Resources/Textures/Imperial/Medieval/Clothing/Armor/white_charmer_weak.rsi/inhand-right.png
  Resources/Textures/Imperial/Medieval/Clothing/Armor/white_charmer_weak.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Clothing/Head/white_charmer_light.rsi/equipped-HELMET.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/white_charmer_light.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/white_charmer_light.rsi/inhand-left.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/white_charmer_light.rsi/inhand-right.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/white_charmer_light.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Clothing/Head/white_charmer_weak.rsi/equipped-HELMET.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/white_charmer_weak.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/white_charmer_weak.rsi/inhand-left.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/white_charmer_weak.rsi/inhand-right.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/white_charmer_weak.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Clothing/Head/white_witchers_hat.rsi/equipped-HELMET.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/white_witchers_hat.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/white_witchers_hat.rsi/inhand-left.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/white_witchers_hat.rsi/inhand-right.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/white_witchers_hat.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Clothing/Shoes/white_charmer.rsi/equipped-FEET.png
  Resources/Textures/Imperial/Medieval/Clothing/Shoes/white_charmer.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Shoes/white_charmer.rsi/inhand-left.png
  Resources/Textures/Imperial/Medieval/Clothing/Shoes/white_charmer.rsi/inhand-right.png
  Resources/Textures/Imperial/Medieval/Clothing/Shoes/white_charmer.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#21 fix
  Resources/Prototypes/Imperial/Medieval/melee.yml
Labels: Changes: No C#

#20 Mages Deportament
  Resources/Locale/ru-RU/Imperial/Medieval/medieval.ftl
  Resources/Prototypes/Imperial/Medieval/custom_departments.yml
Labels: Changes: No C#

#26 UpdateEars elf.yml
  Resources/Prototypes/Imperial/Medieval/elf.yml
Labels: Changes: No C#

#27 Sw
  Resources/Prototypes/Imperial/Medieval/ssd.yml
  Resources/Textures/Imperial/Medieval/Effects/ssd.rsi/default0.png
  Resources/Textures/Imperial/Medieval/Effects/ssd.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#22 Добавил новый department для лидеров фракций
  Resources/Locale/ru-RU/Imperial/Medieval/medieval.ftl
  Resources/Prototypes/Imperial/Medieval/custom_departments.yml
Labels: Changes: No C#

#14 Прототип декоративных шляп
  Resources/Locale/ru-RU/Imperial/Medieval/hats.ftl
  Resources/Prototypes/Imperial/Medieval/hats.yml
  Resources/Textures/Imperial/Medieval/Clothing/Head/black_hat.rsi/equipped-HELMET.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/black_hat.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/black_hat.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Clothing/Head/blue_hat.rsi/equipped-HELMET.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/blue_hat.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/blue_hat.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Clothing/Head/feather_hat.rsi/equipped-HELMET.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/feather_hat.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/feather_hat.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Clothing/Head/gray_hat.rsi/equipped-HELMET.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/gray_hat.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/gray_hat.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Clothing/Head/green hat.rsi/equipped-HELMET.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/green hat.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/green hat.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Clothing/Head/motley_hat.rsi/equipped-HELMET.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/motley_hat.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/motley_hat.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Clothing/Head/purple_hat.rsi/equipped-HELMET.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/purple_hat.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/purple_hat.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Clothing/Head/red_hat.rsi/equipped-HELMET.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/red_hat.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/red_hat.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Clothing/Head/straw_hat.rsi/equipped-HELMET.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/straw_hat.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/straw_hat.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Clothing/Head/wanderehat.rsi/equipped-HELMET.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/wanderehat.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/wanderehat.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Clothing/Head/white_hat.rsi/equipped-HELMET.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/white_hat.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/white_hat.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Clothing/Head/wreath.rsi/equipped-HELMET.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/wreath.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/wreath.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#30 Фикс спич-баблов ноктюрнов и инфернов
  Resources/Textures/Effects/speech.rsi/drou.png
  Resources/Textures/Effects/speech.rsi/meta.json
  Resources/Textures/Effects/speech.rsi/tifling.png
Labels: Changes: Sprites, Changes: No C#

#24 Добавлены новые вариации сложных скелетов
  Resources/Locale/ru-RU/Imperial/Medieval/Mobs/skelets.ftl
  Resources/Locale/ru-RU/Imperial/Medieval/medieval.ftl
  Resources/Prototypes/Imperial/Medieval/mobs.yml
  Resources/Prototypes/Imperial/Medieval/rpgspawns.yml
  Resources/Prototypes/Imperial/Medieval/slow_mob_spawns.yml
  Resources/Textures/Imperial/Medieval/Mobs/skelet_dagger.rsi/base.png
  Resources/Textures/Imperial/Medieval/Mobs/skelet_dagger.rsi/dead.png
  Resources/Textures/Imperial/Medieval/Mobs/skelet_dagger.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Mobs/skelet_halberd.rsi/base.png
  Resources/Textures/Imperial/Medieval/Mobs/skelet_halberd.rsi/dead.png
  Resources/Textures/Imperial/Medieval/Mobs/skelet_halberd.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Mobs/skelet_mace.rsi/base.png
  Resources/Textures/Imperial/Medieval/Mobs/skelet_mace.rsi/dead.png
  Resources/Textures/Imperial/Medieval/Mobs/skelet_mace.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Mobs/skelet_spear.rsi/base.png
  Resources/Textures/Imperial/Medieval/Mobs/skelet_spear.rsi/dead.png
  Resources/Textures/Imperial/Medieval/Mobs/skelet_spear.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#31 Изменение баланса копий
  Resources/Prototypes/Imperial/Medieval/melee.yml
Labels: Changes: No C#

#32 Перила
  Resources/Locale/ru-RU/Imperial/Medieval/medieval.ftl
  Resources/Prototypes/Imperial/Medieval/decor.yml
  Resources/Textures/Imperial/Medieval/Decor/railing.rsi/corner.png
  Resources/Textures/Imperial/Medieval/Decor/railing.rsi/corner_small.png
  Resources/Textures/Imperial/Medieval/Decor/railing.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Decor/railing.rsi/round.png
  Resources/Textures/Imperial/Medieval/Decor/railing.rsi/side.png
Labels: Changes: Sprites, Changes: No C#

#36 Add fix/new hats arrangements
  Resources/Locale/ru-RU/Imperial/Medieval/hats.ftl
  Resources/Locale/ru-RU/Imperial/Medieval/medieval.ftl
  Resources/Prototypes/Imperial/Medieval/custom_departments.yml
  Resources/Prototypes/Imperial/Medieval/hats.yml
  Resources/Prototypes/Imperial/Medieval/helmets.yml
  Resources/Prototypes/Imperial/Medieval/jobs.yml
  Resources/Prototypes/Imperial/Medieval/loot.yml
  Resources/Prototypes/Imperial/Medieval/mainshop.yml
  Resources/Prototypes/Imperial/Medieval/shop_demo.yml
Labels: Changes: No C#

#34 Добавление плаща ветерана инквизиции адского пламени cloaks.yml
  Resources/Prototypes/Imperial/Medieval/cloaks.yml
  Resources/Prototypes/Imperial/Roles/Departments/JuristicDepartment/juristic_deparment.yml
  Resources/Textures/Imperial/Medieval/Clothing/Cloaks/InqVeteranCloak.rsi/Icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Cloaks/InqVeteranCloak.rsi/equipped-NECK.png
  Resources/Textures/Imperial/Medieval/Clothing/Cloaks/InqVeteranCloak.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#41 Удаление мага из лодаута антагонистов
  Resources/Prototypes/Roles/Antags/wizard.yml
Labels: Changes: No C#

#40 Изменение уровня отрисовки+наложение прозрачности
  Resources/Prototypes/Imperial/Medieval/decor.yml
Labels: Changes: No C#

#42 добавление новых шрифтов
  Resources/Prototypes/Imperial/Medieval/Fonts/BeeBopp/COPYRIGHT.txt
  Resources/Prototypes/Imperial/Medieval/Fonts/BeeBopp/beebopptygra.ttf
  Resources/Prototypes/Imperial/Medieval/Fonts/BeeBopp/пример.png
  Resources/Prototypes/Imperial/Medieval/Fonts/Blackcraft/Blackcraft.ttf
  Resources/Prototypes/Imperial/Medieval/Fonts/Blackcraft/COPYRIGHT.txt
  Resources/Prototypes/Imperial/Medieval/Fonts/Blackcraft/LICENSE.txt
  Resources/Prototypes/Imperial/Medieval/Fonts/Blackcraft/пример.png
  Resources/Prototypes/Imperial/Medieval/Fonts/Christmas/COPYRIGHT.txt
  Resources/Prototypes/Imperial/Medieval/Fonts/Christmas/ChristmasScriptC.ttf
  Resources/Prototypes/Imperial/Medieval/Fonts/Christmas/Пример.png
  Resources/Prototypes/Imperial/Medieval/Fonts/DiabloFont/COPYRIGHT.txt
  Resources/Prototypes/Imperial/Medieval/Fonts/DiabloFont/diablofont.otf
  Resources/Prototypes/Imperial/Medieval/Fonts/DiabloFont/Пример.png
  Resources/Prototypes/Imperial/Medieval/Fonts/Gothic/COPYRIGHT.txt
  Resources/Prototypes/Imperial/Medieval/Fonts/Gothic/DreiFraktur.ttf
  Resources/Prototypes/Imperial/Medieval/Fonts/Gothic/LICENSE.txt
  Resources/Prototypes/Imperial/Medieval/Fonts/Gothic/пример.png
  Resources/Prototypes/Imperial/Medieval/Fonts/HoneyBeeG/COPYRIGHT.txt
  Resources/Prototypes/Imperial/Medieval/Fonts/HoneyBeeG/mrhoneybeeg.ttf
  Resources/Prototypes/Imperial/Medieval/Fonts/HoneyBeeG/Пример.png
  Resources/Prototypes/Imperial/Medieval/Fonts/InsulaG/COPYRIGHT.txt
  Resources/Prototypes/Imperial/Medieval/Fonts/InsulaG/mr_insulag.otf
  Resources/Prototypes/Imperial/Medieval/Fonts/InsulaG/Пример.png
  Resources/Prototypes/Imperial/Medieval/Fonts/Needleteeth/NeedleteethSP.otf
  Resources/Prototypes/Imperial/Medieval/Fonts/Needleteeth/пример.png
  Resources/Prototypes/Imperial/Medieval/Fonts/TabulaPeutingeriana/TabulaPeutingeriana.ttf
  Resources/Prototypes/Imperial/Medieval/Fonts/TabulaPeutingeriana/TabulaPeutingerianaCapitelBoldItalic.ttf
  Resources/Prototypes/Imperial/Medieval/Fonts/TabulaPeutingeriana/пример.png
  Resources/Prototypes/Imperial/Medieval/Fonts/TanaUncial/TanaUncialSP.otf
  Resources/Prototypes/Imperial/Medieval/Fonts/TanaUncial/license pavljenko.pdf
  Resources/Prototypes/Imperial/Medieval/Fonts/TanaUncial/пример.png
  Resources/Prototypes/Imperial/Medieval/Fonts/Vezitsa/Copyright.txt
  Resources/Prototypes/Imperial/Medieval/Fonts/Vezitsa/VezitsaCyrillic.ttf
  Resources/Prototypes/Imperial/Medieval/Fonts/Vezitsa/пример.png
  Resources/Prototypes/Imperial/Medieval/medieval.yml
Labels: Changes: No C#

#43 поправка
  Resources/Prototypes/Imperial/Medieval/decor.yml
Labels: Changes: No C#

#35 Плюшевая игрушка "Злющий Неверус"
  Resources/Locale/ru-RU/Imperial/Medieval/medieval.ftl
  Resources/Prototypes/Imperial/Medieval/medieval.yml
  Resources/Textures/Imperial/Medieval/Misc/plushdog.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Misc/plushdog.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#44 новая мантия с восстановлением маны
  Resources/Locale/ru-RU/Imperial/Medieval/medieval.ftl
  Resources/Prototypes/Imperial/Medieval/armor.yml
  Resources/Textures/Imperial/Medieval/Clothing/Armor/charmer_ceremonial_robe.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Imperial/Medieval/Clothing/Armor/charmer_ceremonial_robe.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Armor/charmer_ceremonial_robe.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Clothing/Head/golden_head.rsi/equipped-HELMET.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/golden_head.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/golden_head.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#50 Добавление кирок, добавлено отбрасывание оружию, перенос локализиции.
  Resources/Locale/ru-RU/Imperial/Medieval/medieval.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Melee/baseball_bat.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/Imperial/Medieval/cloaks.yml
  Resources/Prototypes/Imperial/Medieval/cult.yml
  Resources/Prototypes/Imperial/Medieval/melee.yml
  Resources/Prototypes/Imperial/Medieval/mobs.yml
  Resources/Textures/Imperial/Medieval/Melee/ebonit_pickaxe.rsi/inhand-left.png
  Resources/Textures/Imperial/Medieval/Melee/ebonit_pickaxe.rsi/inhand-right.png
  Resources/Textures/Imperial/Medieval/Melee/ebonit_pickaxe.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Melee/ebonit_pickaxe.rsi/pickaxe.png
  Resources/Textures/Imperial/Medieval/Melee/ebonit_pickaxe.rsi/wielded-inhand-left.png
  Resources/Textures/Imperial/Medieval/Melee/ebonit_pickaxe.rsi/wielded-inhand-right.png
  Resources/Textures/Imperial/Medieval/Melee/forstone_pickaxe.rsi/inhand-left.png
  Resources/Textures/Imperial/Medieval/Melee/forstone_pickaxe.rsi/inhand-right.png
  Resources/Textures/Imperial/Medieval/Melee/forstone_pickaxe.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Melee/forstone_pickaxe.rsi/pickaxe.png
  Resources/Textures/Imperial/Medieval/Melee/forstone_pickaxe.rsi/wielded-inhand-left.png
  Resources/Textures/Imperial/Medieval/Melee/forstone_pickaxe.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, Changes: No C#

#49 Nimbus
  Resources/Locale/ru-RU/Imperial/Medieval/medieval.ftl
  Resources/Prototypes/Imperial/Medieval/helmets.yml
  Resources/Textures/Imperial/Medieval/Clothing/Head/nimbus.rsi/equipped-HELMET.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/nimbus.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/nimbus.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#48 Исправление ошибок локализации
  Resources/Locale/ru-RU/Imperial/Medieval/medieval.ftl
Labels: Changes: No C#

#52 Подгружены обновленные иконки заклинаний.
  Resources/Textures/Imperial/Medieval/Gun/Charmer/blink.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Gun/Charmer/boost.rsi/1.png
  Resources/Textures/Imperial/Medieval/Gun/Charmer/boost.rsi/2.png
  Resources/Textures/Imperial/Medieval/Gun/Charmer/boost.rsi/3.png
  Resources/Textures/Imperial/Medieval/Gun/Charmer/boost.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Gun/Charmer/disabler.rsi/1.png
  Resources/Textures/Imperial/Medieval/Gun/Charmer/disabler.rsi/2.png
  Resources/Textures/Imperial/Medieval/Gun/Charmer/disabler.rsi/3.png
  Resources/Textures/Imperial/Medieval/Gun/Charmer/disabler.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Gun/Charmer/emp.rsi/1.png
  Resources/Textures/Imperial/Medieval/Gun/Charmer/emp.rsi/2.png
  Resources/Textures/Imperial/Medieval/Gun/Charmer/emp.rsi/3.png
  Resources/Textures/Imperial/Medieval/Gun/Charmer/emp.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#53 Добавление плащей.
  Resources/Locale/ru-RU/Imperial/Medieval/medieval.ftl
  Resources/Prototypes/Imperial/Medieval/cloaks.yml
  Resources/Textures/Imperial/Medieval/Clothing/Cloaks/bluecloak.rsi/equipped-NECK.png
  Resources/Textures/Imperial/Medieval/Clothing/Cloaks/bluecloak.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Cloaks/bluecloak.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Clothing/Cloaks/greencloak.rsi/equipped-NECK.png
  Resources/Textures/Imperial/Medieval/Clothing/Cloaks/greencloak.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Cloaks/greencloak.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Clothing/Cloaks/greycloak.rsi/equipped-NECK.png
  Resources/Textures/Imperial/Medieval/Clothing/Cloaks/greycloak.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Cloaks/greycloak.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Clothing/Cloaks/purplecloak.rsi/equipped-NECK.png
  Resources/Textures/Imperial/Medieval/Clothing/Cloaks/purplecloak.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Cloaks/purplecloak.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Clothing/Cloaks/redcloak.rsi/equipped-NECK.png
  Resources/Textures/Imperial/Medieval/Clothing/Cloaks/redcloak.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Cloaks/redcloak.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Clothing/Cloaks/yellowcloak.rsi/equipped-NECK.png
  Resources/Textures/Imperial/Medieval/Clothing/Cloaks/yellowcloak.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Cloaks/yellowcloak.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#57 Исправление выталкивания людей в стены
  Resources/Prototypes/Imperial/Medieval/Magic/Spells/Darkness/BlackHole/projectiles.yml
Labels: Changes: No C#

#59 Dash and sprint
  Content.Client/Imperial/Options/ImperialOptionsMenuTab.xaml.cs
  Content.Client/Input/ContentContexts.cs
  Content.Shared/Imperial/EntityLayer/EntityLayerComponent.cs
  Content.Shared/Imperial/EntityLayer/Enums.cs
  Content.Shared/Imperial/Medieval/MedievalDash/MedievalDashComponent.cs
  Content.Shared/Imperial/Medieval/MedievalDash/MedievalDashSystem.cs
  Content.Shared/Imperial/Medieval/MedievalSprint/MedievalSprintComponent.cs
  Content.Shared/Imperial/Medieval/MedievalSprint/MedievalSprintSystem.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Content.Shared/Movement/Components/MovementSpeedModifierComponent.cs
  Resources/Prototypes/Entities/Mobs/base.yml
  Resources/keybinds.yml
Labels: C#, Change WIz Prototypes, Impact: Low

#56 Сулица и Пилум
  Resources/Locale/ru-RU/Imperial/Medieval/medieval.ftl
  Resources/Prototypes/Imperial/Medieval/insfactionshop.yml
  Resources/Prototypes/Imperial/Medieval/latheresipes.yml
  Resources/Prototypes/Imperial/Medieval/lathes.yml
  Resources/Prototypes/Imperial/Medieval/legionfactionshop.yml
  Resources/Prototypes/Imperial/Medieval/melee.yml
  Resources/Textures/Imperial/Medieval/Melee/pilum.rsi/equipped-BACKPACK.png
  Resources/Textures/Imperial/Medieval/Melee/pilum.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Imperial/Medieval/Melee/pilum.rsi/inhand-left.png
  Resources/Textures/Imperial/Medieval/Melee/pilum.rsi/inhand-right.png
  Resources/Textures/Imperial/Medieval/Melee/pilum.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Melee/pilum.rsi/spear.png
  Resources/Textures/Imperial/Medieval/Melee/sulica.rsi/equipped-BACKPACK.png
  Resources/Textures/Imperial/Medieval/Melee/sulica.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Imperial/Medieval/Melee/sulica.rsi/inhand-left.png
  Resources/Textures/Imperial/Medieval/Melee/sulica.rsi/inhand-right.png
  Resources/Textures/Imperial/Medieval/Melee/sulica.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Melee/sulica.rsi/spear.png
Labels: Changes: Sprites, Changes: No C#

#55 Мерзкая поросль
  Resources/Locale/ru-RU/Imperial/Medieval/medieval.ftl
  Resources/Prototypes/Imperial/Medieval/medieval.yml
  Resources/Prototypes/Imperial/Medieval/mobs.yml
  Resources/Prototypes/Imperial/Medieval/range.yml
  Resources/Prototypes/Imperial/Medieval/rpgspawns.yml
  Resources/Prototypes/Imperial/Medieval/slow_mob_spawns.yml
  Resources/Textures/Imperial/Medieval/Gun/ammo_spike.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Gun/ammo_spike.rsi/proto.png
  Resources/Textures/Imperial/Medieval/Misc/mdv_loot.rsi/flower.png
  Resources/Textures/Imperial/Medieval/Misc/mdv_loot.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Mobs/nasty_growth.rsi/base.png
  Resources/Textures/Imperial/Medieval/Mobs/nasty_growth.rsi/dead.png
  Resources/Textures/Imperial/Medieval/Mobs/nasty_growth.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#60 Keys holder update
  Resources/Prototypes/Imperial/Medieval/keys.yml
  Resources/Prototypes/Imperial/Medieval/tags.yml
  Resources/Textures/Imperial/Medieval/Misc/key_storage.rsi/1.png
  Resources/Textures/Imperial/Medieval/Misc/key_storage.rsi/bandits.png
  Resources/Textures/Imperial/Medieval/Misc/key_storage.rsi/base.png
  Resources/Textures/Imperial/Medieval/Misc/key_storage.rsi/fox.png
  Resources/Textures/Imperial/Medieval/Misc/key_storage.rsi/king.png
  Resources/Textures/Imperial/Medieval/Misc/key_storage.rsi/legion.png
  Resources/Textures/Imperial/Medieval/Misc/key_storage.rsi/mage.png
  Resources/Textures/Imperial/Medieval/Misc/key_storage.rsi/medieval_key.png
  Resources/Textures/Imperial/Medieval/Misc/key_storage.rsi/mercenaries.png
  Resources/Textures/Imperial/Medieval/Misc/key_storage.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Misc/key_storage.rsi/necro.png
  Resources/Textures/Imperial/Medieval/Misc/key_storage.rsi/tribe.png
  Resources/Textures/Imperial/Medieval/Misc/key_storage.rsi/wood.png
Labels: Changes: Sprites, Changes: No C#

#63 Эмоции исправления.
  Resources/Audio/Imperial/Medieval/Emotes/Warcry/Male/warcry_1.ogg
  Resources/Prototypes/Imperial/Medieval/MedievalEmotes.yml
Labels: Changes: No C#, Changes: Audio

#64 Исправление локализации магия
  Resources/Locale/ru-RU/Imperial/Medieval/Magic/Spells/light.ftl
  Resources/Prototypes/Imperial/Medieval/latheresipes.yml
  Resources/Prototypes/Imperial/Medieval/lathes.yml
Labels: Changes: No C#

#62 feature: Join queue
  Content.Client/Entry/EntryPoint.cs
  Content.Client/Imperial/Medieval/JoinQueue/JoinQueueManager.cs
  Content.Client/Imperial/Medieval/JoinQueue/QueueControl.xaml
  Content.Client/Imperial/Medieval/JoinQueue/QueueControl.xaml.cs
  Content.Client/Imperial/Medieval/JoinQueue/QueueState.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Server/Connection/ConnectionManager.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/Imperial/Medieval/JoinQueue/JoinQueueManager.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Shared/Imperial/ICCVars/ICCVars.Medieval.cs
  Content.Shared/Imperial/Medieval/JoinQueue/MsgQueueUpdate.cs
Labels: Changes: UI

#67 Доработки фракций
  Content.Client/Imperial/Medieval/Friends/UI/Elements/FactionGroupPanel.xaml.cs
  Content.Client/Imperial/Medieval/Friends/UI/Elements/FactionMenuEntry.xaml.cs
  Content.Client/Imperial/Medieval/Friends/UI/Elements/WantedDeskEntry.xaml
  Content.Client/Imperial/Medieval/Friends/UI/Elements/WantedDeskEntry.xaml.cs
  Content.Client/Imperial/Medieval/Friends/UI/FactionMenu.xaml
  Content.Client/Imperial/Medieval/Friends/UI/FactionMenu.xaml.cs
  Content.Client/Imperial/Medieval/Friends/UI/FactionMenuUiController.cs
  Content.Server/Imperial/Medieval/Friendly/Systems/FriendsSystem.FactionMenu.cs
  Content.Server/Imperial/Medieval/Friendly/Systems/FriendsSystem.Wanted.cs
  Content.Server/Imperial/Medieval/Pasport/MedievalPasportSystem.cs
  Content.Shared/Imperial/Medieval/Friends/Events/RemoveFactionMemberMessage.cs
  Content.Shared/Imperial/Medieval/Friends/Events/StartupFactionDataEvent.cs
  Content.Shared/Imperial/Medieval/Friends/WantedData.cs
Labels: Changes: UI

#69 Cactusdamage
  Resources/Locale/ru-RU/Imperial/Medieval/medieval.ftl
  Resources/Prototypes/Imperial/Medieval/decor.yml
Labels: Changes: No C#

#72 Щиты на спину и фиксы
  Resources/Prototypes/Imperial/Medieval/helmets.yml
  Resources/Prototypes/Imperial/Medieval/melee.yml
  Resources/Textures/Imperial/Medieval/Melee/shields.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Shields/buckler.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Imperial/Medieval/Shields/buckler.rsi/inhand-left.png
  Resources/Textures/Imperial/Medieval/Shields/buckler.rsi/inhand-right.png
  Resources/Textures/Imperial/Medieval/Shields/buckler.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Shields/buckler.rsi/shield.png
  Resources/Textures/Imperial/Medieval/Shields/bucklergoblin.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Imperial/Medieval/Shields/bucklergoblin.rsi/inhand-left.png
  Resources/Textures/Imperial/Medieval/Shields/bucklergoblin.rsi/inhand-right.png
  Resources/Textures/Imperial/Medieval/Shields/bucklergoblin.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Shields/bucklergoblin.rsi/shield.png
  Resources/Textures/Imperial/Medieval/Shields/inf_medieval.rsi/inf_medieval-icon.png
  Resources/Textures/Imperial/Medieval/Shields/inf_medieval.rsi/inf_medieval-inhand-left.png
  Resources/Textures/Imperial/Medieval/Shields/inf_medieval.rsi/inf_medieval-inhand-right.png
  Resources/Textures/Imperial/Medieval/Shields/iron_buckler.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Imperial/Medieval/Shields/iron_buckler.rsi/inhand-left.png
  Resources/Textures/Imperial/Medieval/Shields/iron_buckler.rsi/inhand-right.png
  Resources/Textures/Imperial/Medieval/Shields/iron_buckler.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Shields/iron_buckler.rsi/shield.png
  Resources/Textures/Imperial/Medieval/Shields/wooden.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Imperial/Medieval/Shields/wooden.rsi/inhand-left.png
  Resources/Textures/Imperial/Medieval/Shields/wooden.rsi/inhand-right.png
  Resources/Textures/Imperial/Medieval/Shields/wooden.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Shields/wooden.rsi/shield.png
  Resources/Textures/Imperial/Medieval/Shields/woodknight.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Imperial/Medieval/Shields/woodknight.rsi/inhand-left.png
  Resources/Textures/Imperial/Medieval/Shields/woodknight.rsi/inhand-right.png
  Resources/Textures/Imperial/Medieval/Shields/woodknight.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Shields/woodknight.rsi/shield.png
Labels: Changes: Sprites, Changes: No C#

#70 Table sound
  Resources/Prototypes/Entities/Structures/Furniture/Tables/tables.yml
  Resources/Textures/Fluids/Interface/Alerts/stamina.rsi/stamina2.png
  Resources/Textures/Fluids/Interface/Alerts/stamina.rsi/stamina3.png
  Resources/Textures/Fluids/Interface/Alerts/stamina.rsi/stamina4.png
  Resources/Textures/Fluids/Interface/Alerts/stamina.rsi/stamina5.png
  Resources/Textures/Interface/Alerts/stamina.rsi/stamina2.png
  Resources/Textures/Interface/Alerts/stamina.rsi/stamina3.png
  Resources/Textures/Interface/Alerts/stamina.rsi/stamina4.png
  Resources/Textures/Interface/Alerts/stamina.rsi/stamina5.png
Labels: Changes: Sprites, Changes: No C#

#76 bug fix
  Resources/Textures/Imperial/Medieval/Shields/buckler.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Shields/buckler.rsi/riot-inhand-left.png
  Resources/Textures/Imperial/Medieval/Shields/buckler.rsi/riot-inhand-right.png
  Resources/Textures/Imperial/Medieval/Shields/bucklergoblin.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Shields/bucklergoblin.rsi/riot-inhand-left.png
  Resources/Textures/Imperial/Medieval/Shields/bucklergoblin.rsi/riot-inhand-right.png
  Resources/Textures/Imperial/Medieval/Shields/cross_buckler.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Shields/cross_buckler.rsi/riot-inhand-left.png
  Resources/Textures/Imperial/Medieval/Shields/cross_buckler.rsi/riot-inhand-right.png
  Resources/Textures/Imperial/Medieval/Shields/cross_bucklergoblin.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Shields/cross_bucklergoblin.rsi/riot-inhand-left.png
  Resources/Textures/Imperial/Medieval/Shields/cross_bucklergoblin.rsi/riot-inhand-right.png
  Resources/Textures/Imperial/Medieval/Shields/cross_wooden.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Shields/cross_wooden.rsi/riot-inhand-left.png
  Resources/Textures/Imperial/Medieval/Shields/cross_wooden.rsi/riot-inhand-right.png
  Resources/Textures/Imperial/Medieval/Shields/cross_woodknight.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Shields/cross_woodknight.rsi/riot-inhand-left.png
  Resources/Textures/Imperial/Medieval/Shields/cross_woodknight.rsi/riot-inhand-right.png
  Resources/Textures/Imperial/Medieval/Shields/inf_medieval.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Shields/inf_medieval.rsi/riot-inhand-left.png
  Resources/Textures/Imperial/Medieval/Shields/inf_medieval.rsi/riot-inhand-right.png
  Resources/Textures/Imperial/Medieval/Shields/iron_buckler.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Shields/iron_buckler.rsi/riot-inhand-left.png
  Resources/Textures/Imperial/Medieval/Shields/iron_buckler.rsi/riot-inhand-right.png
  Resources/Textures/Imperial/Medieval/Shields/wooden.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Shields/wooden.rsi/riot-inhand-left.png
  Resources/Textures/Imperial/Medieval/Shields/wooden.rsi/riot-inhand-right.png
  Resources/Textures/Imperial/Medieval/Shields/woodknight.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Shields/woodknight.rsi/riot-inhand-left.png
  Resources/Textures/Imperial/Medieval/Shields/woodknight.rsi/riot-inhand-right.png
Labels: Changes: Sprites, Changes: No C#

#78 Щитомордый слизень
  Resources/Locale/ru-RU/Imperial/Medieval/medieval.ftl
  Resources/Prototypes/Imperial/Medieval/medieval.yml
  Resources/Prototypes/Imperial/Medieval/mobs.yml
  Resources/Prototypes/Imperial/Medieval/rpgspawns.yml
  Resources/Prototypes/Imperial/Medieval/slow_mob_spawns.yml
  Resources/Textures/Imperial/Medieval/Misc/mdv_loot.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Misc/mdv_loot.rsi/slugbones.png
  Resources/Textures/Imperial/Medieval/Mobs/shield_slug.rsi/base.png
  Resources/Textures/Imperial/Medieval/Mobs/shield_slug.rsi/dead.png
  Resources/Textures/Imperial/Medieval/Mobs/shield_slug.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#79 Правки меню фракций pt. 2
  Content.Client/Imperial/Medieval/Friends/UI/Elements/FactionGroupPanel.xaml
  Content.Client/Imperial/Medieval/Friends/UI/Elements/FactionGroupPanel.xaml.cs
  Content.Client/Imperial/Medieval/Friends/UI/Elements/FactionJobPanel.xaml
  Content.Client/Imperial/Medieval/Friends/UI/Elements/FactionJobPanel.xaml.cs
  Content.Client/Imperial/Medieval/Friends/UI/Elements/FactionMenuEntry.xaml
  Content.Client/Imperial/Medieval/Friends/UI/Elements/FactionMenuEntry.xaml.cs
  Content.Client/Imperial/Medieval/Friends/UI/FactionMenu.xaml
  Content.Client/Imperial/Medieval/Friends/UI/FactionMenu.xaml.cs
  Content.Server/Imperial/Medieval/Friendly/Systems/FriendsSystem.FactionMenu.cs
  Content.Shared/Imperial/Medieval/Friends/Systems/SharedFriendsSystem.cs
  Resources/Audio/Imperial/Medieval/faction_group_assigned.ogg
  Resources/Audio/Imperial/Medieval/faction_objective_assigned.ogg
  Resources/Prototypes/Imperial/Medieval/jobs.yml
Labels: Changes: UI, Changes: Audio

#81 Правки меню фракций pt. 4 (господи)
  Content.Client/Imperial/Medieval/Friends/UI/Elements/WantedDeskEntry.xaml.cs
  Content.Client/Imperial/Medieval/Friends/UI/WantedDeskMenu.xaml
  Content.Server/Imperial/Medieval/Pasport/MedievalPasportSystem.cs
  Resources/Locale/ru-RU/Imperial/Medieval/colored-species-names.ftl
  Resources/Prototypes/Imperial/Medieval/Actions/faction_head.yml
Labels: Changes: UI

#82 New specie - Beastmen
  Resources/Prototypes/Entities/Mobs/Customization/Markings/cat_parts.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/ears.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/gauze.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/scars.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/tattoos.yml
  Resources/Prototypes/Imperial/Medieval/beastmen.yml
  Resources/Prototypes/Imperial/Medieval/beastmen_parts.yml
  Resources/Prototypes/Imperial/Other/HairAndTail/cat_parts.yml
  Resources/Prototypes/Imperial/Other/HairAndTail/fox_parts.yml
  Resources/Prototypes/Species/human.yml
  Resources/Textures/Imperial/Medieval/Species/Beastmen/displacement.rsi/jumpsuit-female.png
  Resources/Textures/Imperial/Medieval/Species/Beastmen/displacement.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Species/Beastmen/organs.rsi/appendix-inflamed.png
  Resources/Textures/Imperial/Medieval/Species/Beastmen/organs.rsi/appendix.png
  Resources/Textures/Imperial/Medieval/Species/Beastmen/organs.rsi/brain-inhand-left.png
  Resources/Textures/Imperial/Medieval/Species/Beastmen/organs.rsi/brain-inhand-right.png
  Resources/Textures/Imperial/Medieval/Species/Beastmen/organs.rsi/brain.png
  Resources/Textures/Imperial/Medieval/Species/Beastmen/organs.rsi/ears.png
  Resources/Textures/Imperial/Medieval/Species/Beastmen/organs.rsi/eyeball-l.png
  Resources/Textures/Imperial/Medieval/Species/Beastmen/organs.rsi/eyeball-r.png
  Resources/Textures/Imperial/Medieval/Species/Beastmen/organs.rsi/heart-off.png
  Resources/Textures/Imperial/Medieval/Species/Beastmen/organs.rsi/heart-on.png
  Resources/Textures/Imperial/Medieval/Species/Beastmen/organs.rsi/kidney-l.png
  Resources/Textures/Imperial/Medieval/Species/Beastmen/organs.rsi/kidney-r.png
  Resources/Textures/Imperial/Medieval/Species/Beastmen/organs.rsi/liver.png
  Resources/Textures/Imperial/Medieval/Species/Beastmen/organs.rsi/lung-l.png
  Resources/Textures/Imperial/Medieval/Species/Beastmen/organs.rsi/lung-r.png
  Resources/Textures/Imperial/Medieval/Species/Beastmen/organs.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Species/Beastmen/organs.rsi/muscle.png
  Resources/Textures/Imperial/Medieval/Species/Beastmen/organs.rsi/nerve.png
  Resources/Textures/Imperial/Medieval/Species/Beastmen/organs.rsi/stomach.png
  Resources/Textures/Imperial/Medieval/Species/Beastmen/organs.rsi/tongue.png
  Resources/Textures/Imperial/Medieval/Species/Beastmen/organs.rsi/vessel.png
  Resources/Textures/Imperial/Medieval/Species/Beastmen/parts.rsi/full.png
  Resources/Textures/Imperial/Medieval/Species/Beastmen/parts.rsi/head_f.png
  Resources/Textures/Imperial/Medieval/Species/Beastmen/parts.rsi/head_m.png
  Resources/Textures/Imperial/Medieval/Species/Beastmen/parts.rsi/l_arm.png
  Resources/Textures/Imperial/Medieval/Species/Beastmen/parts.rsi/l_foot.png
  Resources/Textures/Imperial/Medieval/Species/Beastmen/parts.rsi/l_hand.png
  Resources/Textures/Imperial/Medieval/Species/Beastmen/parts.rsi/l_leg.png
  Resources/Textures/Imperial/Medieval/Species/Beastmen/parts.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Species/Beastmen/parts.rsi/r_arm.png
  Resources/Textures/Imperial/Medieval/Species/Beastmen/parts.rsi/r_foot.png
  Resources/Textures/Imperial/Medieval/Species/Beastmen/parts.rsi/r_hand.png
  Resources/Textures/Imperial/Medieval/Species/Beastmen/parts.rsi/r_leg.png
  Resources/Textures/Imperial/Medieval/Species/Beastmen/parts.rsi/torso_f.png
  Resources/Textures/Imperial/Medieval/Species/Beastmen/parts.rsi/torso_m.png
Labels: Changes: Sprites, Changes: No C#

#83 Песочные часы
  Resources/Locale/ru-RU/Imperial/Medieval/medieval.ftl
  Resources/Prototypes/Imperial/Medieval/medieval.yml
  Resources/Textures/Imperial/Medieval/Clothing/Medaljons/sandclock.rsi/equipped-EARS.png
  Resources/Textures/Imperial/Medieval/Clothing/Medaljons/sandclock.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Medaljons/sandclock.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#84 Восполнение колодцов
  Resources/Prototypes/Imperial/Medieval/decor.yml
Labels: Changes: No C#

#85 Мини фикс меню фракций
  Content.Client/Imperial/Medieval/Friends/UI/Elements/WantedDeskEntry.xaml.cs
  Resources/Locale/ru-RU/Imperial/Medieval/colored-species-names.ftl
Labels: Changes: UI

#90 деревянные часы
  Resources/Audio/Imperial/Medieval/clock_ticktack.ogg
  Resources/Locale/ru-RU/Imperial/Medieval/medieval.ftl
  Resources/Prototypes/Imperial/Medieval/decor.yml
  Resources/Textures/Imperial/Medieval/Decor/woodclock.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Decor/woodclock.rsi/meta.json
Labels: Change WIz Prototypes, Prototypes, Resprite, Sprite, size/Small, Audio, Change Wiz Audio

#91 Carcassonne micro fix
  Resources/Locale/ru-RU/tabletop/carcassonne/carc-rulebook.ftl
  Resources/Locale/ru-RU/tabletop/carcassonne/carc.ftl
  Resources/Prototypes/Entities/Objects/Fun/Tabletop/Carcassonne/meeple_bags.yml
  Resources/Prototypes/Entities/Objects/Fun/Tabletop/Carcassonne/meeples.yml
Labels: Change WIz Prototypes, size/Small

#92 Крылатая тень
  Resources/Locale/ru-RU/Imperial/Medieval/medieval.ftl
  Resources/Prototypes/Imperial/Medieval/mobs.yml
  Resources/Textures/Imperial/Medieval/Mobs/wingedshadow.rsi/alive.png
  Resources/Textures/Imperial/Medieval/Mobs/wingedshadow.rsi/dead.png
  Resources/Textures/Imperial/Medieval/Mobs/wingedshadow.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Mobs/wingedshadow.rsi/unshaded.png
Labels: Change WIz Prototypes, Prototypes, Resprite, Sprite, size/Small

#93 Фермерство
  Content.Server/Botany/Systems/BotanySystem.Seed.cs
  Content.Server/Construction/ConstructionSystem.Initial.cs
  Content.Server/Construction/ConstructionSystem.Interactions.cs
  Content.Server/Imperial/Medieval/Farmer/Events/AfterMicrowavedEvent.cs
  Content.Server/Imperial/Medieval/Farmer/Events/BeforeMicrowavedEvent.cs
  Content.Server/Imperial/Medieval/Farmer/Events/UserAfterHarvestEvent.cs
  Content.Server/Imperial/Medieval/Farmer/FarmerBoostSystem.cs
  Content.Server/Imperial/Medieval/Farmer/LastPickedUpContainerComponent.cs
  Content.Server/Kitchen/EntitySystems/MicrowaveSystem.cs
  Content.Shared/Imperial/Medieval/Construction/UserWhitelistCompGrantTransform.cs
  Content.Shared/Imperial/Medieval/Farmer/FarmerBoostComponent.cs
  Content.Shared/Imperial/Medieval/Farmer/FarmerBoostOnConsumeComponent.cs
  Content.Shared/Imperial/Medieval/Farmer/FarmerComponent.cs
  Content.Shared/Imperial/Medieval/MedievalSprint/MedievalSprintSystem.cs
  Resources/Locale/ru-RU/Imperial/Medieval/medieval.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/bread.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/Imperial/Medieval/Alerts/farmer_boost.yml
  Resources/Prototypes/Imperial/Medieval/status_effects.yml
  Resources/Prototypes/Imperial/Medieval/traits.yml
  Resources/Prototypes/Recipes/Construction/Graphs/food/pizza.yml
  Resources/Prototypes/Recipes/Construction/Graphs/food/spaceshroom.yml
  Resources/Prototypes/Recipes/Construction/Graphs/food/steak.yml
  Resources/Prototypes/Recipes/Construction/Graphs/food/tortilla.yml
  Resources/Textures/Imperial/Medieval/Interface/Alerts/farmer-boost.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Interface/Alerts/farmer-boost.rsi/meta.json
Labels: Change Wiz Code, C#, Change WIz Prototypes, Prototypes, Resprite, Sprite, size/Small

#89 Спать
  Content.Server/Imperial/Medieval/SignalSwitch/SignalSwitchSystems.cs
  Content.Server/Imperial/Medieval/Sleep/SleepSystem.cs
  Content.Shared/Imperial/Medieval/SignalSwitch/SignalSwitchImperial.cs
  Content.Shared/Imperial/Medieval/Sleep/SleepComponent.cs
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Imperial/Medieval/medieval.yml
Labels: Change Wiz Code, C#, Change WIz Prototypes, Prototypes, size/Small

#95 fix
  Content.Server/Imperial/Medieval/SignalSwitch/SignalSwitchSystems.cs
  Content.Shared/Imperial/Medieval/SignalSwitch/SignalSwitchSeconds.cs
Labels: C#, size/Small

#94 Маркеры таверны
  Content.Server/Imperial/Medieval/Farmer/Components/AddFarmerBoostOnInitComponent.cs
  Content.Server/Imperial/Medieval/Farmer/Components/LastPickedUpContainerComponent.cs
  Content.Server/Imperial/Medieval/Farmer/FarmerBoostSystem.cs
  Resources/Locale/ru-RU/Imperial/Medieval/markers/tavern.ftl
  Resources/Prototypes/Imperial/Medieval/Markers/tavern.yml
Labels: Change Wiz Code, C#, Change WIz Prototypes, Prototypes, size/Small

#97 Рандомизация зелий
  Content.Client/Administration/UI/ManageSolutions/AddReagentWindow.xaml.cs
  Content.Client/Guidebook/Controls/GuideReagentEmbed.xaml.cs
  Content.Server/Chemistry/EntitySystems/ChemistryGuideDataSystem.cs
  Content.Server/Imperial/Medieval/Chemistry/ChemistryRandomizationSystem.cs
  Content.Server/Imperial/Medieval/Chemistry/NocturnBloodAdd.cs
  Content.Server/Imperial/Medieval/Chemistry/TeleportEntityEffect.cs
  Content.Server/Imperial/Medieval/Melee/MeleeBetterExaminableSystem.cs
  Content.Shared/Chemistry/Reagent/ReagentPrototype.cs
  Resources/Locale/ru-RU/Imperial/Medieval/chemistry.ftl
  Resources/Prototypes/Imperial/Medieval/medieval.yml
  Resources/Prototypes/Imperial/Medieval/medievalchem.yml
  Resources/Textures/Imperial/Medieval/Chem/fireplate.rsi/beaker.png
  Resources/Textures/Imperial/Medieval/Chem/fireplate.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Chem/fireplate.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Chem/fireplate.rsi/on.png
  Resources/Textures/Imperial/Medieval/Chem/gribi.rsi/grib1.png
  Resources/Textures/Imperial/Medieval/Chem/gribi.rsi/grib2.png
  Resources/Textures/Imperial/Medieval/Chem/gribi.rsi/grib3.png
  Resources/Textures/Imperial/Medieval/Chem/gribi.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Chem/kotel.rsi/kotel.png
  Resources/Textures/Imperial/Medieval/Chem/kotel.rsi/kotel1.png
  Resources/Textures/Imperial/Medieval/Chem/kotel.rsi/kotel2.png
  Resources/Textures/Imperial/Medieval/Chem/kotel.rsi/kotel3.png
  Resources/Textures/Imperial/Medieval/Chem/kotel.rsi/kotel4.png
  Resources/Textures/Imperial/Medieval/Chem/kotel.rsi/kotel5.png
  Resources/Textures/Imperial/Medieval/Chem/kotel.rsi/meta.json
Labels: Change Wiz Code, C#, Change WIz Prototypes, Prototypes, Resprite, Sprite, UI, size/Medium

#96 Автоэмоуты для софткрита
  Content.Server/Imperial/Medieval/CritEmotes/CritEmotesComponent.cs
  Content.Server/Imperial/Medieval/CritEmotes/CritEmotesSystem.cs
  Resources/Prototypes/Entities/Mobs/base.yml
Labels: Change Wiz Code, C#, Change WIz Prototypes, size/Small

#99 Цена лута щитомордого слизня
  Resources/Prototypes/Imperial/Medieval/medieval.yml
Labels: Prototypes, size/Small

#101 Syringe
  Resources/Prototypes/Imperial/Medieval/latheresipes.yml
  Resources/Prototypes/Imperial/Medieval/lathes.yml
Labels: Prototypes, size/Small

#100 Удаление случайной тональности эмоутов
  Resources/Prototypes/Imperial/DRGbeer/speech.yml
  Resources/Prototypes/Imperial/Medieval/orc_vocal.yml
  Resources/Prototypes/Imperial/Medieval/zveres_vocal.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
Labels: Change WIz Prototypes, Prototypes, size/Small

#102 Добавление эмоций гоблинам.
  Resources/Audio/Imperial/Medieval/Emotes/Goblin/cough.ogg
  Resources/Audio/Imperial/Medieval/Emotes/Goblin/laugh1.ogg
  Resources/Audio/Imperial/Medieval/Emotes/Goblin/laugh2.ogg
  Resources/Audio/Imperial/Medieval/Emotes/Goblin/laugh3.ogg
  Resources/Audio/Imperial/Medieval/Emotes/Goblin/pain1.ogg
  Resources/Audio/Imperial/Medieval/Emotes/Goblin/pain2.ogg
  Resources/Audio/Imperial/Medieval/Emotes/Goblin/pain3.ogg
  Resources/Audio/Imperial/Medieval/Emotes/Goblin/pain4.ogg
  Resources/Audio/Imperial/Medieval/Emotes/Goblin/pain5.ogg
  Resources/Audio/Imperial/Medieval/Emotes/Goblin/scream.ogg
  Resources/Audio/Imperial/Medieval/Emotes/Goblin/scream2.ogg
  Resources/Audio/Imperial/Medieval/Emotes/Goblin/scream3.ogg
  Resources/Audio/Imperial/Medieval/Emotes/Goblin/sigh.ogg
  Resources/Audio/Imperial/Medieval/Emotes/Goblin/warcry1.ogg
  Resources/Audio/Imperial/Medieval/Emotes/Goblin/warcry2.ogg
  Resources/Audio/Imperial/Medieval/Emotes/Goblin/warcry3.ogg
  Resources/Audio/Imperial/Medieval/Emotes/Goblin/warcry4.ogg
  Resources/Audio/Imperial/Medieval/Emotes/Goblin/warcry5.ogg
  Resources/Audio/Imperial/Medieval/Emotes/Goblin/warcry6.ogg
  Resources/Audio/Imperial/Medieval/Emotes/Goblin/warcry7.ogg
  Resources/Prototypes/Imperial/Medieval/Goblinemotes.yml
  Resources/Prototypes/Imperial/Medieval/mobs.yml
Labels: Change WIz Prototypes, Prototypes, Audio, Change Wiz Audio

#104 Пак фиксов
  Content.Client/Imperial/Medieval/Friends/UI/Elements/FactionGroupPanel.xaml.cs
  Content.Client/Imperial/Medieval/Friends/UI/Elements/FactionMenuEntry.xaml
  Content.Client/Imperial/Medieval/Friends/UI/Elements/FactionMenuEntry.xaml.cs
  Content.Client/Imperial/Medieval/Friends/UI/FactionMenu.xaml.cs
  Content.Server/Imperial/Medieval/CritEmotes/CritEmotesComponent.cs
  Content.Server/Imperial/Medieval/CritEmotes/CritEmotesSystem.cs
  Content.Server/Imperial/Medieval/Friendly/Systems/FriendsSystem.FactionMenu.cs
  Content.Server/Imperial/Medieval/Language/Types/Emotes.cs
  Content.Server/Imperial/Medieval/Language/Types/Generic.cs
  Content.Shared/IdentityManagement/Identity.cs
  Content.Shared/Imperial/Medieval/Identity/MedievalIdentitySystem.cs
  Resources/Audio/Imperial/Medieval/heartbeat.ogg
  Resources/Locale/ru-RU/Imperial/Medieval/colored-species-names.ftl
  Resources/Prototypes/Imperial/Medieval/traits.yml
Labels: Change Wiz Code, C#, Change WIz Prototypes, Prototypes, UI, size/Small, Audio, Change Wiz Audio

#106 Фиксы и добавление листочка рандомного рецепта
  Content.Client/Administration/UI/ManageSolutions/AddReagentWindow.xaml.cs
  Content.Server/Imperial/Medieval/Chemistry/ChemistryRandomizationSystem.cs
  Content.Shared/Chemistry/Reagent/ReagentPrototype.cs
  Content.Shared/Fluids/SharedPuddleSystem.Evaporation.cs
  Content.Shared/Imperial/Medieval/Chemistry/MedievalRandomChemistryRecipeComponent.cs
  Resources/Locale/ru-RU/Imperial/Medieval/chemistry.ftl
  Resources/Prototypes/Imperial/Medieval/medieval.yml
  Resources/Prototypes/Imperial/Medieval/medievalchem.yml
  Resources/Textures/Imperial/Medieval/Chem/recipe.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Chem/recipe.rsi/meta.json
Labels: Change Wiz Code, C#, Change WIz Prototypes, Prototypes, Resprite, Sprite, UI, size/Small

#107 Уменьшение громкости латных сапог.
  Resources/Prototypes/Imperial/Medieval/armor.yml
Labels: Prototypes

#108 Smithing
  Content.Client/Imperial/Medieval/SmithingSystem/SmithingBoundUserInterface.cs
  Content.Client/Imperial/Medieval/SmithingSystem/SmithingSystem.cs
  Content.Client/Imperial/Medieval/SmithingSystem/SmithingWindow.xaml
  Content.Client/Imperial/Medieval/SmithingSystem/SmithingWindow.xaml.cs
  Content.Client/Imperial/Medieval/SmithingSystem/TestCommand.cs
  Content.Server/Imperial/Medieval/SmithingSystem/SmithingSystem.Behaviors.cs
  Content.Server/Imperial/Medieval/SmithingSystem/SmithingSystem.Furnace.cs
  Content.Server/Imperial/Medieval/SmithingSystem/SmithingSystem.cs
  Content.Shared/Armor/ArmorComponent.cs
  Content.Shared/Imperial/Medieval/SmithingSystem/Behaviours/DeleteOnLowScoreOnSmithCompleteComponent.cs
  Content.Shared/Imperial/Medieval/SmithingSystem/Behaviours/ItemQuality.cs
  Content.Shared/Imperial/Medieval/SmithingSystem/Behaviours/SmithQualityModifiers.cs
  Content.Shared/Imperial/Medieval/SmithingSystem/Behaviours/UpgradeArmorOnSmithCompleteComponent.cs
  Content.Shared/Imperial/Medieval/SmithingSystem/Behaviours/UpgradeWeaponOnSmithCompleteComponent.cs
  Content.Shared/Imperial/Medieval/SmithingSystem/Bui/SmithBuiEvents.cs
  Content.Shared/Imperial/Medieval/SmithingSystem/Bui/SmithGameData.cs
  Content.Shared/Imperial/Medieval/SmithingSystem/Bui/SmithGameEnded.cs
  Content.Shared/Imperial/Medieval/SmithingSystem/Bui/SmithGameState.cs
  Content.Shared/Imperial/Medieval/SmithingSystem/Bui/SmithStepData.cs
  Content.Shared/Imperial/Medieval/SmithingSystem/Bui/SmithUiKey.cs
  Content.Shared/Imperial/Medieval/SmithingSystem/Events/SmithingApplyBehaviorsEvent.cs
  Content.Shared/Imperial/Medieval/SmithingSystem/Events/SmithingCompleteEvent.cs
  Content.Shared/Imperial/Medieval/SmithingSystem/SharedSmithingSystem.Furnace.cs
  Content.Shared/Imperial/Medieval/SmithingSystem/SharedSmithingSystem.cs
  Content.Shared/Imperial/Medieval/SmithingSystem/SmithingFurnaceComponent.cs
  Content.Shared/Imperial/Medieval/SmithingSystem/SmithingWorkpieceComponent.cs
  Content.Shared/Imperial/Medieval/SmithingSystem/SmithingWorkplaceComponent.cs
  Content.Shared/Imperial/Medieval/SmithingSystem/WorkpieceVisuals.cs
  Resources/Audio/Imperial/Medieval/Crafting/Smithing/anvil_hit.ogg
  Resources/Locale/ru-RU/Imperial/Medieval/medieval.ftl
  Resources/Locale/ru-RU/Imperial/Medieval/workpieces.ftl
  Resources/Prototypes/Imperial/Medieval/Smithing/workpieces.yml
  Resources/Prototypes/Imperial/Medieval/Smithing/workplace.yml
  Resources/Prototypes/Imperial/Medieval/armor.yml
  Resources/Prototypes/Imperial/Medieval/blacksmithing.yml
  Resources/Prototypes/Imperial/Medieval/lather_smith_resipes.yml
  Resources/Prototypes/Imperial/Medieval/latheresipes.yml
  Resources/Prototypes/Imperial/Medieval/lathes.yml
  Resources/Prototypes/Imperial/Medieval/tags.yml
  Resources/Textures/Imperial/Medieval/Interface/sparkle.rsi/arrive.png
  Resources/Textures/Imperial/Medieval/Interface/sparkle.rsi/disappear.png
  Resources/Textures/Imperial/Medieval/Interface/sparkle.rsi/glowin.png
  Resources/Textures/Imperial/Medieval/Interface/sparkle.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Interface/sparkle.rsi/s_0.png
  Resources/Textures/Imperial/Medieval/Interface/sparkle.rsi/s_1.png
  Resources/Textures/Imperial/Medieval/Interface/sparkle.rsi/s_2.png
  Resources/Textures/Imperial/Medieval/Lathe/blacksmith.rsi/icon_2.png
  Resources/Textures/Imperial/Medieval/Lathe/blacksmith.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Melee/blacksmith_hammer.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Melee/blacksmith_hammer.rsi/inhand-left.png
  Resources/Textures/Imperial/Medieval/Melee/blacksmith_hammer.rsi/inhand-right.png
  Resources/Textures/Imperial/Medieval/Melee/blacksmith_hammer.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Misc/scrap.rsi/melted.png
  Resources/Textures/Imperial/Medieval/Misc/scrap.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Misc/scrap.rsi/scrap.png
  Resources/Textures/Imperial/Medieval/Structures/gorn.rsi/gorn.png
  Resources/Textures/Imperial/Medieval/Structures/gorn.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Structures/gorn.rsi/unshaded.png
Labels: Change Wiz Code, C#, Change WIz Prototypes, Prototypes, Resprite, Sprite, UI, Audio, Change Wiz Audio, size/Medium

#109 Smithing update
  Content.Client/Imperial/Medieval/_CP14/Workbench/CP14WorkbenchRequirementControl.xaml.cs
  Content.Server/Damage/Components/DamageOtherOnHitComponent.cs
  Content.Server/Imperial/Medieval/SmithingSystem/SmithingSystem.Behaviors.cs
  Content.Server/Imperial/Medieval/SmithingSystem/SmithingSystem.Furnace.cs
  Content.Server/Imperial/Medieval/SmithingSystem/SmithingSystem.cs
  Content.Shared/Armor/ArmorComponent.cs
  Content.Shared/Imperial/Medieval/SmithingSystem/Behaviours/ItemQuality.cs
  Content.Shared/Imperial/Medieval/SmithingSystem/Behaviours/UpgradeArmorOnSmithCompleteComponent.cs
  Content.Shared/Imperial/Medieval/SmithingSystem/Behaviours/UpgradeWeaponOnSmithCompleteComponent.cs
  Content.Shared/Imperial/Medieval/Workbench/Prototypes/CP14WorkbenchRecipePrototype.cs
  Resources/Locale/ru-RU/Imperial/Medieval/workpieces.ftl
  Resources/Locale/ru-RU/Imperial/Medieval/workplaces.ftl
  Resources/Prototypes/Imperial/Medieval/Smithing/workpieces.yml
  Resources/Prototypes/Imperial/Medieval/Smithing/workplace.yml
  Resources/Prototypes/Imperial/Medieval/lather_smith_resipes.yml
  Resources/Prototypes/Imperial/Medieval/latheresipes.yml
  Resources/Prototypes/Imperial/Medieval/lathes.yml
  Resources/Textures/Imperial/Medieval/Interface/sparkle.rsi/s_0.png
  Resources/Textures/Imperial/Medieval/Interface/sparkle.rsi/s_1.png
  Resources/Textures/Imperial/Medieval/Interface/sparkle.rsi/s_2.png
Labels: Change Wiz Code, C#, Change WIz Prototypes, Prototypes, Resprite, Sprite, UI, size/Small

#110 Smithing fixes v3
  Resources/Prototypes/Imperial/Medieval/Smithing/workplace.yml
Labels: Prototypes

#111 Исправление шлемов
  Resources/Prototypes/Imperial/Medieval/helmets.yml
Labels: Prototypes, size/Small

#112 Фиксы по багрепортам с ОБТ
  Content.Client/Imperial/Medieval/Identity/MedievalIdentitySystem.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Imperial/Medieval/Friendly/Systems/FriendsSystem.FactionMenu.cs
  Content.Server/Imperial/Medieval/Identity/ChatSystem.Identity.cs
  Content.Server/Imperial/Medieval/Identity/MedievalIdentitySystem.cs
  Content.Shared/IdentityManagement/Identity.cs
  Content.Shared/Imperial/Medieval/Identity/IdentityRequiresKnowledgeComponent.cs
  Content.Shared/Imperial/Medieval/Identity/SharedMedievalIdentitySystem.cs
Labels: Change Wiz Code, C#, size/Small

#114 Логирование назначения идентификатора сущностям с IdentityRequiresKnowledgeComponent
  Content.Server/Imperial/Medieval/Identity/MedievalIdentitySystem.cs
Labels: C#, size/Small

#113 Добавление крафта наковальни и горна
  Resources/Locale/ru-RU/Imperial/Medieval/workpieces.ftl
  Resources/Locale/ru-RU/Imperial/Medieval/workplaces.ftl
  Resources/Prototypes/Imperial/Medieval/Smithing/workpieces.yml
  Resources/Prototypes/Imperial/Medieval/Smithing/workplace.yml
  Resources/Prototypes/Imperial/Medieval/crafts.yml
  Resources/Prototypes/Imperial/Medieval/lather_smith_resipes.yml
  Resources/Prototypes/Imperial/Medieval/latheresipes.yml
  Resources/Prototypes/Imperial/Medieval/lathes.yml
  Resources/Prototypes/Imperial/Medieval/mainshop.yml
  Resources/Prototypes/Imperial/Medieval/shop_demo.yml
Labels: Change WIz Prototypes, Prototypes, size/Small

#115 Фиксы алхимии
  Content.Server/Imperial/Medieval/Chemistry/ChemistryRandomizationSystem.cs
  Resources/Prototypes/Imperial/Medieval/medievalchem.yml
Labels: Change Wiz Code, C#, Change WIz Prototypes, Prototypes, size/Small

#116 fix: Joined players priority
  Content.Server/Imperial/Medieval/JoinQueue/JoinQueueManager.cs
Labels: C#, size/Small

#117 фикс гриба
  Resources/Prototypes/Imperial/Medieval/medieval.yml
Labels: Prototypes

#118 Система контрактов для наемников.
  Content.Server/Imperial/Medieval/BountyBoard/BountyBoardSystem.cs
  Content.Shared/Imperial/Medieval/BountyBoard/MercenaryBountyBoardComponent.cs
  Content.Shared/Imperial/Medieval/BountyBoard/MercenaryBountyTargetTraitComponent.cs
  Content.Shared/Imperial/Medieval/BountyBoard/MercenaryComponent.cs
  Content.Shared/Imperial/Medieval/BountyBoard/MercenaryContractComponent.cs
  Content.Shared/Imperial/Medieval/BountyBoard/MercenaryTargetComponent.cs
  Resources/Locale/ru-RU/Imperial/Medieval/medieval.ftl
  Resources/Locale/ru-RU/Imperial/Medieval/mercs.ftl
  Resources/Prototypes/Imperial/Medieval/bounty_board.yml
  Resources/Prototypes/Imperial/Medieval/jobs.yml
  Resources/Prototypes/Imperial/Medieval/money.yml
  Resources/Prototypes/Imperial/Medieval/traits.yml
Labels: Change Wiz Code, C#, Change WIz Prototypes, Prototypes, size/Small

#119 Meta Fix 1
  Resources/Prototypes/Imperial/Medieval/melee.yml
  Resources/Prototypes/Imperial/Medieval/quests.yml
Labels: Prototypes, size/Small

#120 Ещё небольшой фикс
  Resources/Prototypes/Imperial/Medieval/armor.yml
  Resources/Prototypes/Imperial/Medieval/medieval.yml
  Resources/Prototypes/Imperial/Medieval/necro.yml
Labels: Prototypes, size/Small

#121 Фиксы и доработки кузнечного дела
  Content.Server/Imperial/Medieval/SmithingSystem/SmithingSystem.Behaviors.cs
  Content.Server/Imperial/Medieval/SmithingSystem/SmithingSystem.cs
  Content.Shared/Armor/SharedArmorSystem.cs
  Resources/Prototypes/Imperial/Medieval/Smithing/workpieces.yml
Labels: Change Wiz Code, C#, Change WIz Prototypes, Prototypes, size/Small

#122 Фикс inhend состояния у этой брони
  Resources/Textures/Clothing/OuterClothing/Armor/podwars_armor.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Armor/podwars_armor.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Armor/podwars_armor.rsi/meta.json
Labels: Resprite, size/Small

#123 Bounty addition
  Content.Server/Imperial/Medieval/BountyBoard/BountyBoardSystem.cs
  Content.Shared/Imperial/Medieval/BountyBoard/MercenaryBountyBoardComponent.cs
Labels: C#, size/Small
