Repository imperial-space/SW-public, pull requests merged in 2025-07, with the labels that each got.

#258 Турель и рагу.
  Resources/Locale/ru-RU/Imperial/Medieval/myrmex.ftl
  Resources/Prototypes/Imperial/Medieval/hydroponics.yml
  Resources/Prototypes/Imperial/Medieval/myrmestructures.yml
  Resources/Prototypes/Imperial/Medieval/myrmexbuilding.yml
  Resources/Prototypes/Imperial/Medieval/myrmexsoup.yml
  Resources/Prototypes/Imperial/Medieval/myrmexturret.yml
  Resources/Prototypes/Imperial/Medieval/tags.yml
  Resources/Textures/Imperial/Medieval/Lathe/MyrmexSoupPlace.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Lathe/MyrmexSoupPlace.rsi/inserting.png
  Resources/Textures/Imperial/Medieval/Lathe/MyrmexSoupPlace.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Lathe/MyrmexSoupPlace.rsi/panel.png
  Resources/Textures/Imperial/Medieval/Lathe/MyrmexSoupPlace.rsi/unlit.png
  Resources/Textures/Imperial/Medieval/Myrmex/Soups/mushroomsoup.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Myrmex/Soups/mushroomsoup.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Myrmex/Soups/resinsoup.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Myrmex/Soups/resinsoup.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Myrmex/Soups/rootsoup.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Myrmex/Soups/rootsoup.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Myrmex/Soups/yantsoup.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Myrmex/Soups/yantsoup.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Myrmex/Structures/Turret/myrmex_acid.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Myrmex/Structures/Turret/myrmex_acid.rsi/myrmex_acid.png
  Resources/Textures/Imperial/Medieval/Myrmex/Structures/Turret/myrmex_tyrret.rsi/base.png
  Resources/Textures/Imperial/Medieval/Myrmex/Structures/Turret/myrmex_tyrret.rsi/meta.json
Labels: Change WIz Prototypes, Prototypes, Resprite, Sprite

#259 всякое для мирмексов
  Resources/Audio/Imperial/Medieval/ant_footstep3.ogg
  Resources/Audio/Imperial/Medieval/ant_footstep4.ogg
  Resources/Audio/Imperial/Medieval/ant_speak1.ogg
  Resources/Audio/Imperial/Medieval/ant_speak2.ogg
  Resources/Audio/Imperial/Medieval/ant_speak3.ogg
  Resources/Audio/Imperial/Medieval/ant_stepontrap.ogg
  Resources/Audio/Imperial/Medieval/ant_trapreload.ogg
  Resources/Locale/ru-RU/Imperial/Medieval/myrmex.ftl
  Resources/Prototypes/Imperial/Medieval/myrmex.yml
  Resources/Textures/Imperial/Medieval/Myrmex/Structures/myrmex_trap.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Myrmex/Structures/myrmex_trap.rsi/trap-inactive.png
  Resources/Textures/Imperial/Medieval/Myrmex/Structures/myrmex_trap.rsi/trap.png
  Resources/Textures/Imperial/Medieval/Myrmex/Structures/myrmex_web.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Myrmex/Structures/myrmex_web.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Myrmex/Structures/trap.png
Labels: Change WIz Prototypes, Prototypes, Resprite, Sprite, size/Small, Audio

#261 геймрул мирмексов
  Content.Server/Antag/AntagSelectionSystem.cs
  Content.Server/Antag/Components/AntagSelectionComponent.cs
  Content.Server/Imperial/Medieval/Myrmex/Gamerule/MyrmexRuleComponent.cs
  Content.Server/Imperial/Medieval/Myrmex/Gamerule/MyrmexRuleSystem.cs
  Resources/Locale/ru-RU/Imperial/Medieval/Roles/antags.ftl
  Resources/Maps/Imperial/Medieval/myrmex.yml
  Resources/Prototypes/Imperial/Medieval/GameRules/myrmex.yml
  Resources/Prototypes/Imperial/Medieval/Roles/Antags/Myrmex.yml
  Resources/Prototypes/Imperial/Medieval/map.yml
Labels: Change Wiz Code, C#, Change WIz Prototypes, Prototypes, Grid

#262 Нити, лежанки, переработчики.
  Resources/Audio/Imperial/Medieval/blub1.ogg
  Resources/Audio/Imperial/Medieval/blub2.ogg
  Resources/Audio/Imperial/Medieval/blub3.ogg
  Resources/Locale/ru-RU/Imperial/Medieval/myrmex.ftl
  Resources/Prototypes/Imperial/Medieval/myrmestructures.yml
  Resources/Prototypes/Imperial/Medieval/myrmex.yml
  Resources/Prototypes/Imperial/Medieval/myrmexbuilding.yml
  Resources/Prototypes/Imperial/Medieval/myrmexsoup.yml
  Resources/Textures/Imperial/Medieval/Myrmex/Structures/myrmex_bed.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Myrmex/Structures/myrmex_bed.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Myrmex/myrmex_fibe.rsi/fibe.png
  Resources/Textures/Imperial/Medieval/Myrmex/myrmex_fibe.rsi/fibe_2.png
  Resources/Textures/Imperial/Medieval/Myrmex/myrmex_fibe.rsi/fibe_3.png
  Resources/Textures/Imperial/Medieval/Myrmex/myrmex_fibe.rsi/meta.json
Labels: Change WIz Prototypes, Prototypes, Resprite, Sprite, size/Small, Audio

#263 Ловушка, дыра и сумка.
  Resources/Locale/ru-RU/Imperial/Medieval/medieval.ftl
  Resources/Locale/ru-RU/Imperial/Medieval/myrmex.ftl
  Resources/Prototypes/Imperial/Medieval/clothes.yml
  Resources/Prototypes/Imperial/Medieval/latheresipes.yml
  Resources/Prototypes/Imperial/Medieval/lathes.yml
  Resources/Prototypes/Imperial/Medieval/mainshop.yml
  Resources/Prototypes/Imperial/Medieval/medieval.yml
  Resources/Prototypes/Imperial/Medieval/myrmestructures.yml
  Resources/Prototypes/Imperial/Medieval/myrmex.yml
  Resources/Prototypes/Imperial/Medieval/myrmexbuilding.yml
  Resources/Prototypes/Imperial/Medieval/shop_demo.yml
  Resources/Prototypes/Imperial/Medieval/tags.yml
  Resources/Textures/Imperial/Medieval/Clothing/Backpack/monster_bag.rsi/equipped-BELT.png
  Resources/Textures/Imperial/Medieval/Clothing/Backpack/monster_bag.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Backpack/monster_bag.rsi/inhand-left.png
  Resources/Textures/Imperial/Medieval/Clothing/Backpack/monster_bag.rsi/inhand-right.png
  Resources/Textures/Imperial/Medieval/Clothing/Backpack/monster_bag.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Myrmex/Structures/toxic_hole.rsi/hole.png
  Resources/Textures/Imperial/Medieval/Myrmex/Structures/toxic_hole.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Myrmex/Structures/toxic_hole.rsi/meta.json
Labels: Change WIz Prototypes, Prototypes, Resprite, Sprite

#268 Корешки, живица и опоры.
  Resources/Prototypes/Entities/Objects/Decoration/flora.yml
  Resources/Prototypes/Entities/Objects/Decoration/mining.yml
  Resources/Prototypes/Imperial/Medieval/medieval.yml
  Resources/Prototypes/Imperial/Medieval/myrmestructures.yml
  Resources/Prototypes/Imperial/Medieval/myrmexbuilding.yml
  Resources/Prototypes/Imperial/Medieval/myrmexsoup.yml
Labels: Change WIz Prototypes, Prototypes, size/Small

#270 Кислота и муравьи.
  Resources/Prototypes/Imperial/Medieval/mobs.yml
  Resources/Prototypes/Imperial/Medieval/myrmestructures.yml
  Resources/Prototypes/Imperial/Medieval/myrmex.yml
Labels: Prototypes, size/Small

#271 еда мирмексов
  Content.Server/Imperial/Medieval/Myrmex/LarvaSystem.cs
  Content.Server/Imperial/Medieval/Myrmex/MyrmexQueenSystem.cs
  Content.Server/Imperial/Medieval/Myrmex/MyrmexStewSystem.cs
  Content.Shared/Imperial/Medieval/Myrmex/Events.cs
  Content.Shared/Imperial/Medieval/Myrmex/LarvaComponent.cs
  Content.Shared/Imperial/Medieval/Myrmex/LarvaGrowPrototype.cs
  Content.Shared/Imperial/Medieval/Myrmex/MyrmexBuff.cs
  Content.Shared/Imperial/Medieval/Myrmex/MyrmexHungerComponent.cs
  Content.Shared/Imperial/Medieval/Myrmex/MyrmexQueenComponent.cs
  Content.Shared/Imperial/Medieval/Myrmex/MyrmexStewComponent.cs
  Content.Shared/Imperial/Medieval/Myrmex/SharedMyrmexHungerSystem.cs
  Resources/Audio/Imperial/Medieval/ant_egg1.ogg
  Resources/Audio/Imperial/Medieval/ant_egg2.ogg
  Resources/Audio/Imperial/Medieval/ant_feed1.ogg
  Resources/Audio/Imperial/Medieval/ant_feed2.ogg
  Resources/Locale/ru-RU/Imperial/Medieval/myrmex.ftl
  Resources/Locale/ru-RU/Imperial/Medieval/stews.ftl
  Resources/Prototypes/Imperial/Medieval/Alerts/myrmex.yml
  Resources/Prototypes/Imperial/Medieval/medieval.yml
  Resources/Prototypes/Imperial/Medieval/myrmex.yml
  Resources/Prototypes/Imperial/Medieval/myrmexlarvagrow.yml
  Resources/Prototypes/Imperial/Medieval/myrmexsoup.yml
Labels: Change Wiz Code, C#, Change WIz Prototypes, Prototypes, Audio

#275 Фикс турели и королевы.
  Resources/Prototypes/Imperial/Medieval/myrmex.yml
  Resources/Prototypes/Imperial/Medieval/myrmexturret.yml
Labels: Prototypes, size/Small

#264 feat: weight examined
  Content.Shared/_RD/Weight/Components/RDWeightExamineCoponent.cs
  Content.Shared/_RD/Weight/Systems/RDWeightExamineSystem.cs
Labels: Change Wiz Code, C#, size/Small

#279 Фикс FloatingVisuals
  Content.Client/Gravity/FloatingVisualizerSystem.cs
Labels: Change Wiz Code, C#

#278 Locale fix
  Resources/Locale/ru-RU/Imperial/Medieval/medieval.ftl
Labels: size/Small

#280 Вроде фикс, а вроде хз
  Content.Server/Imperial/Medieval/Boss/Systems/BossSystem.cs
Labels: C#, size/Small

#283 addactiononuse comp & sys
  Content.Server/Imperial/Medieval/AddActionOnUse/AddActionOnUseSystem.cs
  Content.Shared/Imperial/Medieval/AddActionOnUse/AddActionOnUseComponent.cs
Labels: C#, size/Small

#285 pull instead if can`t grab
  Content.Shared/Movement/Pulling/Systems/PullingSystem.cs
Labels: Change Wiz Code, C#

#288 fix grid
  Content.Client/Imperial/Medieval/MagicScroll/MinesweeperWindow.cs
Labels: C#, size/Small

#289 Tweaks
  Content.Client/Imperial/Medieval/MagicScroll/MinesweeperWindow.cs
  Content.Shared/Imperial/Medieval/MagicRunes/Components/MagicScrollComponent.cs
  Content.Shared/Imperial/Medieval/MagicRunes/Systems/MagicRuneSystem.Helpers.cs
Labels: C#, size/Small

#290 fix abuse
  Content.Client/Imperial/Medieval/MagicScroll/MagicScrollWindow.xaml.cs
  Content.Client/Imperial/Medieval/MagicScroll/MinesweeperWindow.cs
Labels: C#, UI, size/Small

#292 Лежанка мирмексов, свитки в луте, компонент для магов.
  Resources/Prototypes/Imperial/Medieval/jobs.yml
  Resources/Prototypes/Imperial/Medieval/loot.yml
  Resources/Prototypes/Imperial/Medieval/myrmestructures.yml
Labels: Prototypes

#291 Скины
  Resources/Locale/ru-RU/Imperial/Medieval/Magic/Spells/light.ftl
  Resources/Locale/ru-RU/Imperial/Medieval/medieval.ftl
  Resources/Prototypes/Imperial/Medieval/Magic/Spells/Light/Prism/prism.yml
  Resources/Prototypes/Imperial/Medieval/armor.yml
  Resources/Prototypes/Imperial/Medieval/cloaks.yml
  Resources/Prototypes/Imperial/Medieval/helmets.yml
  Resources/Prototypes/Imperial/Medieval/medieval.yml
  Resources/Prototypes/Imperial/Medieval/skins.yml
  Resources/Textures/Imperial/Medieval/Clothing/Armor/archimageyamuro.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Imperial/Medieval/Clothing/Armor/archimageyamuro.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Armor/archimageyamuro.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Clothing/Armor/royalcuirass.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Imperial/Medieval/Clothing/Armor/royalcuirass.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Armor/royalcuirass.rsi/inhand-left.png
  Resources/Textures/Imperial/Medieval/Clothing/Armor/royalcuirass.rsi/inhand-right.png
  Resources/Textures/Imperial/Medieval/Clothing/Armor/royalcuirass.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Clothing/Cloaks/darkbluegold.rsi/equipped-NECK.png
  Resources/Textures/Imperial/Medieval/Clothing/Cloaks/darkbluegold.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Cloaks/darkbluegold.rsi/inhand-left.png
  Resources/Textures/Imperial/Medieval/Clothing/Cloaks/darkbluegold.rsi/inhand-right.png
  Resources/Textures/Imperial/Medieval/Clothing/Cloaks/darkbluegold.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Clothing/Head/archimageyamuro.rsi/equipped-HELMET.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/archimageyamuro.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/archimageyamuro.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Gun/prism.rsi/base.png
  Resources/Textures/Imperial/Medieval/Gun/prism.rsi/inhand-left.png
  Resources/Textures/Imperial/Medieval/Gun/prism.rsi/inhand-right.png
  Resources/Textures/Imperial/Medieval/Gun/prism.rsi/meta.json
Labels: Change WIz Prototypes, Prototypes, Resprite, Sprite, size/Small

#296 myrmex mushroomsoup + kitchen resprite/animation
  Resources/Textures/Imperial/Medieval/Lathe/MyrmexSoupPlace.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Lathe/MyrmexSoupPlace.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Myrmex/Soups/mushroomsoup.rsi/icon.png
Labels: Resprite, Sprite, size/Small

#298 Скин
  Resources/Locale/ru-RU/Imperial/Medieval/medieval.ftl
  Resources/Prototypes/Imperial/Medieval/melee.yml
  Resources/Prototypes/Imperial/Medieval/skins.yml
  Resources/Textures/Imperial/Medieval/Clothing/Armor/leafleatherroyalarmor.rsi/inhand-left.png
  Resources/Textures/Imperial/Medieval/Clothing/Armor/leafleatherroyalarmor.rsi/inhand-right.png
  Resources/Textures/Imperial/Medieval/Clothing/Armor/leafleatherroyalarmor.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Melee/iron_chainmace.rsi/equipped-BACKPACK.png
  Resources/Textures/Imperial/Medieval/Melee/iron_chainmace.rsi/equipped-BELT.png
  Resources/Textures/Imperial/Medieval/Melee/iron_chainmace.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Imperial/Medieval/Melee/iron_chainmace.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Melee/iron_chainmace.rsi/inhand-left.png
  Resources/Textures/Imperial/Medieval/Melee/iron_chainmace.rsi/inhand-right.png
  Resources/Textures/Imperial/Medieval/Melee/iron_chainmace.rsi/meta.json
Labels: Change WIz Prototypes, Prototypes, Resprite, Sprite

#303 Свисток
  Resources/Locale/ru-RU/Imperial/Medieval/medieval.ftl
  Resources/Prototypes/Imperial/Medieval/insfactionshop.yml
  Resources/Prototypes/Imperial/Medieval/legionfactionshop.yml
  Resources/Prototypes/Imperial/Medieval/mainshop.yml
  Resources/Prototypes/Imperial/Medieval/medieval.yml
  Resources/Prototypes/Imperial/Medieval/shop_demo.yml
  Resources/Textures/Imperial/Medieval/Misc/whistle.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Misc/whistle.rsi/meta.json
Labels: Change WIz Prototypes, Prototypes, Resprite, Sprite, size/Small

#304 Ламианы.
  Resources/Prototypes/Entities/Tiles/water.yml
  Resources/Prototypes/Imperial/Medieval/Lamian.yml
  Resources/Prototypes/Imperial/Medieval/Lamian_parts.yml
  Resources/Prototypes/Imperial/Medieval/medieval.yml
  Resources/Prototypes/Imperial/Medieval/tags.yml
  Resources/Textures/Imperial/Medieval/Species/Lamian/displacement.rsi/jumpsuit-female.png
  Resources/Textures/Imperial/Medieval/Species/Lamian/displacement.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Species/Lamian/organs.rsi/appendix-inflamed.png
  Resources/Textures/Imperial/Medieval/Species/Lamian/organs.rsi/appendix.png
  Resources/Textures/Imperial/Medieval/Species/Lamian/organs.rsi/brain-inhand-left.png
  Resources/Textures/Imperial/Medieval/Species/Lamian/organs.rsi/brain-inhand-right.png
  Resources/Textures/Imperial/Medieval/Species/Lamian/organs.rsi/brain.png
  Resources/Textures/Imperial/Medieval/Species/Lamian/organs.rsi/ears.png
  Resources/Textures/Imperial/Medieval/Species/Lamian/organs.rsi/eyeball-l.png
  Resources/Textures/Imperial/Medieval/Species/Lamian/organs.rsi/eyeball-r.png
  Resources/Textures/Imperial/Medieval/Species/Lamian/organs.rsi/heart-off.png
  Resources/Textures/Imperial/Medieval/Species/Lamian/organs.rsi/heart-on.png
  Resources/Textures/Imperial/Medieval/Species/Lamian/organs.rsi/kidney-l.png
  Resources/Textures/Imperial/Medieval/Species/Lamian/organs.rsi/kidney-r.png
  Resources/Textures/Imperial/Medieval/Species/Lamian/organs.rsi/liver.png
  Resources/Textures/Imperial/Medieval/Species/Lamian/organs.rsi/lung-l.png
  Resources/Textures/Imperial/Medieval/Species/Lamian/organs.rsi/lung-r.png
  Resources/Textures/Imperial/Medieval/Species/Lamian/organs.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Species/Lamian/organs.rsi/muscle.png
  Resources/Textures/Imperial/Medieval/Species/Lamian/organs.rsi/nerve.png
  Resources/Textures/Imperial/Medieval/Species/Lamian/organs.rsi/stomach.png
  Resources/Textures/Imperial/Medieval/Species/Lamian/organs.rsi/tongue.png
  Resources/Textures/Imperial/Medieval/Species/Lamian/organs.rsi/vessel.png
  Resources/Textures/Imperial/Medieval/Species/Lamian/parts.rsi/ears.png
  Resources/Textures/Imperial/Medieval/Species/Lamian/parts.rsi/full.png
  Resources/Textures/Imperial/Medieval/Species/Lamian/parts.rsi/head_f.png
  Resources/Textures/Imperial/Medieval/Species/Lamian/parts.rsi/head_m.png
  Resources/Textures/Imperial/Medieval/Species/Lamian/parts.rsi/l_arm.png
  Resources/Textures/Imperial/Medieval/Species/Lamian/parts.rsi/l_foot.png
  Resources/Textures/Imperial/Medieval/Species/Lamian/parts.rsi/l_hand.png
  Resources/Textures/Imperial/Medieval/Species/Lamian/parts.rsi/l_leg.png
  Resources/Textures/Imperial/Medieval/Species/Lamian/parts.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Species/Lamian/parts.rsi/r_arm.png
  Resources/Textures/Imperial/Medieval/Species/Lamian/parts.rsi/r_foot.png
  Resources/Textures/Imperial/Medieval/Species/Lamian/parts.rsi/r_hand.png
  Resources/Textures/Imperial/Medieval/Species/Lamian/parts.rsi/r_leg.png
  Resources/Textures/Imperial/Medieval/Species/Lamian/parts.rsi/tail.png
  Resources/Textures/Imperial/Medieval/Species/Lamian/parts.rsi/torso_f.png
  Resources/Textures/Imperial/Medieval/Species/Lamian/parts.rsi/torso_m.png
Labels: Change WIz Prototypes, Prototypes, Resprite, Sprite, size/Small

#305 улучшение rideable
  Content.Server/Imperial/Medieval/MobRiding/RideableSystem.cs
  Content.Shared/Imperial/Medieval/MobRiding/HorseArmorComponent.cs
  Content.Shared/Imperial/Medieval/MobRiding/HorseArmorSystem.cs
  Content.Shared/Imperial/Medieval/MobRiding/RideableSprintComponent.cs
  Content.Shared/Imperial/Medieval/MobRiding/RideableSprintSystem.cs
  Content.Shared/Imperial/Medieval/MobRiding/SharedRideableSystem.cs
  Content.Shared/Imperial/Medieval/SpearComponent.cs
  Resources/Prototypes/Entities/Objects/Weapons/Melee/spear.yml
  Resources/Prototypes/Imperial/Medieval/melee.yml
  Resources/Prototypes/Imperial/Medieval/transport.yml
Labels: Change Wiz Code, C#, Change WIz Prototypes, Prototypes, size/Small

#308 кавалерийская пика
  Resources/Locale/ru-RU/Imperial/Medieval/medieval.ftl
  Resources/Prototypes/Imperial/Medieval/melee.yml
  Resources/Textures/Imperial/Medieval/Melee/cavalery_spear.rsi/inhand-left.png
  Resources/Textures/Imperial/Medieval/Melee/cavalery_spear.rsi/inhand-right.png
  Resources/Textures/Imperial/Medieval/Melee/cavalery_spear.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Melee/cavalery_spear.rsi/spear.png
Labels: Change WIz Prototypes, Prototypes, Resprite, Sprite, size/Small

#310 add steps-sounds for horse
  Resources/Audio/Imperial/Medieval/horsestep1.ogg
  Resources/Audio/Imperial/Medieval/horsestep2.ogg
  Resources/Audio/Imperial/Medieval/horsestep3.ogg
  Resources/Audio/Imperial/Medieval/horsestep4.ogg
  Resources/Prototypes/Imperial/Medieval/transport.yml
Labels: Change WIz Prototypes, Prototypes, size/Small, Audio

#309 Крафт/покупка пики и скины
  Resources/Prototypes/Imperial/Medieval/insfactionshop.yml
  Resources/Prototypes/Imperial/Medieval/latheresipes.yml
  Resources/Prototypes/Imperial/Medieval/lathes.yml
  Resources/Prototypes/Imperial/Medieval/legionfactionshop.yml
  Resources/Prototypes/Imperial/Medieval/mainshop.yml
  Resources/Prototypes/Imperial/Medieval/melee.yml
  Resources/Prototypes/Imperial/Medieval/skins.yml
  Resources/Textures/Imperial/Medieval/Melee/cavalery_spear.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Imperial/Medieval/Melee/cavalery_spear.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Melee/cavalery_spear.rsi/wielded-inhand-left.png
  Resources/Textures/Imperial/Medieval/Melee/cavalery_spear.rsi/wielded-inhand-right.png
Labels: Change WIz Prototypes, Prototypes, Resprite, Sprite, size/Small

#311 rideable
  Content.Server/Imperial/Medieval/MobRiding/RideableSystem.cs
  Content.Shared/Imperial/Medieval/MobRiding/RideableComponent.cs
  Content.Shared/Imperial/Medieval/MobRiding/RideableSprintComponent.cs
  Content.Shared/Imperial/Medieval/MobRiding/RideableSprintSystem.cs
  Content.Shared/Imperial/Medieval/MobRiding/SharedRideableSystem.cs
  Content.Shared/Imperial/Medieval/PikeComponent.cs
  Content.Shared/Physics/CollisionGroup.cs
  Resources/Audio/Imperial/Medieval/clash_both.ogg
  Resources/Audio/Imperial/Medieval/clash_one1.ogg
  Resources/Audio/Imperial/Medieval/clash_one2.ogg
  Resources/Prototypes/Imperial/Medieval/melee.yml
  Resources/Prototypes/Imperial/Medieval/transport.yml
Labels: Change Wiz Code, C#, Change WIz Prototypes, Prototypes, size/Small, Audio, Change Wiz Audio

#323 Фиксы мирмексов
  Content.Server/Imperial/Medieval/Myrmex/MyrmexActionSystem.cs
  Content.Shared/Imperial/Medieval/Myrmex/MyrmexEvents.cs
  Resources/Prototypes/Imperial/Medieval/myrmex.yml
Labels: Change Wiz Code, C#, Change WIz Prototypes, Prototypes, size/Small

#325 Фикс мирмексов номер два
  Resources/Prototypes/Imperial/Medieval/myrmex.yml
Labels: Prototypes, size/Small

#327 Stealth Fix
  Resources/Prototypes/Imperial/Medieval/myrmex.yml
Labels: Prototypes, size/Small

#328 Маленький набор фиксов
  Content.Server/Imperial/Medieval/GameTicking/Rules/SkeletonInvasion/SkeletonInvasionRuleSystem.cs
  Content.Server/Imperial/Medieval/GameTicking/Rules/StatCounter/RoundStatCounterRuleSystem.cs
  Content.Server/Imperial/Medieval/SkeletonInvasion/SkullBossStandSystem.cs
Labels: C#

#326 Взрыв резист для кав армора и Fix Скин
  Resources/Prototypes/Imperial/Medieval/skins.yml
  Resources/Prototypes/Imperial/Medieval/transport.yml
Labels: Prototypes, size/Small

#330 Fix Locale
  Resources/Locale/ru-RU/Imperial/Medieval/workpieces.ftl
Labels: size/Small

#331 fixes
  Content.Server/Imperial/AlwaysPvs/AlwaysPvsSystem.cs
  Content.Shared/Imperial/Medieval/Additions/MedievalSharedTimedDespawnSystem.cs
Labels: C#, size/Small

#334 Уменьшение цен.
  Resources/Prototypes/Imperial/Medieval/Magic/Spells/Darkness/CursedArrow/CursorFollower/projectiles.yml
  Resources/Prototypes/Imperial/Medieval/Magic/Spells/Darkness/CursedArrow/Kunai/projectiles.yml
  Resources/Prototypes/Imperial/Medieval/Magic/Spells/Darkness/CursedArrow/PlayerFollover/projectiles.yml
  Resources/Prototypes/Imperial/Medieval/Magic/Spells/Fire/Fireball/projectiles.yml
  Resources/Prototypes/Imperial/Medieval/Magic/Spells/Fire/MagicArrow/CursorFollower/projectiles.yml
  Resources/Prototypes/Imperial/Medieval/Magic/Spells/Fire/MagicArrow/Kunai/projectiles.yml
  Resources/Prototypes/Imperial/Medieval/Magic/Spells/Fire/MagicArrow/PlayerFollover/projectiles.yml
  Resources/Prototypes/Imperial/Medieval/armor.yml
  Resources/Prototypes/Imperial/Medieval/cult.yml
  Resources/Prototypes/Imperial/Medieval/insfactionshop.yml
  Resources/Prototypes/Imperial/Medieval/lather_smith_resipes.yml
  Resources/Prototypes/Imperial/Medieval/legionfactionshop.yml
  Resources/Prototypes/Imperial/Medieval/mainshop.yml
  Resources/Prototypes/Imperial/Medieval/shop_demo.yml
Labels: Prototypes, size/Small

#337 myrmex sound fix
  Resources/Audio/Imperial/Medieval/ant_egg1.ogg
  Resources/Audio/Imperial/Medieval/ant_egg2.ogg
  Resources/Audio/Imperial/Medieval/ant_feed1.ogg
  Resources/Audio/Imperial/Medieval/ant_feed2.ogg
  Resources/Audio/Imperial/Medieval/ant_speak1.ogg
  Resources/Audio/Imperial/Medieval/ant_speak2.ogg
  Resources/Audio/Imperial/Medieval/ant_speak3.ogg
  Resources/Audio/Imperial/Medieval/ant_stepontrap.ogg
  Resources/Audio/Imperial/Medieval/ant_trapreload.ogg
  Resources/Prototypes/Imperial/Medieval/myrmexturret.yml
Labels: Change WIz Prototypes, Prototypes, size/Small, Audio

#329 artifacts
  Content.Client/Imperial/Medieval/MArtifacts/ClientArtifactSystem.cs
  Content.Server/Imperial/Medieval/MArtifacts/ArtifactAbilitiesSystem.cs
  Content.Server/Imperial/Medieval/MArtifacts/ArtifactSystem.cs
  Content.Server/Imperial/Medieval/MeleeResource/MedievalMeleeResourceSystem.cs
  Content.Shared/Imperial/Medieval/MArtifacts/ArtifactAbilitiesComponents.cs
  Content.Shared/Imperial/Medieval/MArtifacts/ArtifactComponent.cs
  Content.Shared/Imperial/Medieval/MArtifacts/SharedArtifactSystem.cs
  Content.Shared/Item/ItemComponent.cs
  Content.Shared/Wieldable/Components/IncreaseDamageOnWieldComponent.cs
  Resources/Locale/ru-RU/Imperial/Medieval/artifacts.ftl
  Resources/Prototypes/Imperial/Medieval/MArtifacts/abilities.yml
  Resources/Prototypes/Imperial/Medieval/MArtifacts/artifacts.yml
  Resources/Prototypes/Imperial/Medieval/MArtifacts/datasets.yml
  Resources/Textures/Imperial/Medieval/MArtifacts/sekira/scythe/icon.rsi/icon.png
  Resources/Textures/Imperial/Medieval/MArtifacts/sekira/scythe/icon.rsi/meta.json
  Resources/Textures/Imperial/Medieval/MArtifacts/sekira/scythe/inhand.rsi/inhand-left.png
  Resources/Textures/Imperial/Medieval/MArtifacts/sekira/scythe/inhand.rsi/inhand-right.png
  Resources/Textures/Imperial/Medieval/MArtifacts/sekira/scythe/inhand.rsi/meta.json
  Resources/Textures/Imperial/Medieval/MArtifacts/sekira/scythe/inhand.rsi/wielded-inhand-left.png
  Resources/Textures/Imperial/Medieval/MArtifacts/sekira/scythe/inhand.rsi/wielded-inhand-right.png
  Resources/Textures/Imperial/Medieval/MArtifacts/spear/beater/icon.rsi/meta.json
  Resources/Textures/Imperial/Medieval/MArtifacts/spear/beater/icon.rsi/spear.png
  Resources/Textures/Imperial/Medieval/MArtifacts/spear/beater/inhand.rsi/inhand-left.png
  Resources/Textures/Imperial/Medieval/MArtifacts/spear/beater/inhand.rsi/inhand-right.png
  Resources/Textures/Imperial/Medieval/MArtifacts/spear/beater/inhand.rsi/meta.json
  Resources/Textures/Imperial/Medieval/MArtifacts/spear/beater/inhand.rsi/wielded-inhand-left.png
  Resources/Textures/Imperial/Medieval/MArtifacts/spear/beater/inhand.rsi/wielded-inhand-right.png
  Resources/Textures/Imperial/Medieval/MArtifacts/spear/thunder/icon.rsi/meta.json
  Resources/Textures/Imperial/Medieval/MArtifacts/spear/thunder/icon.rsi/spear.png
  Resources/Textures/Imperial/Medieval/MArtifacts/spear/thunder/inhand.rsi/inhand-left.png
  Resources/Textures/Imperial/Medieval/MArtifacts/spear/thunder/inhand.rsi/inhand-right.png
  Resources/Textures/Imperial/Medieval/MArtifacts/spear/thunder/inhand.rsi/meta.json
  Resources/Textures/Imperial/Medieval/MArtifacts/spear/thunder/inhand.rsi/wielded-inhand-left.png
  Resources/Textures/Imperial/Medieval/MArtifacts/spear/thunder/inhand.rsi/wielded-inhand-right.png
  Resources/Textures/Imperial/Medieval/MArtifacts/swords/dragonslayer/icon.rsi/icon.png
  Resources/Textures/Imperial/Medieval/MArtifacts/swords/dragonslayer/icon.rsi/meta.json
  Resources/Textures/Imperial/Medieval/MArtifacts/swords/dragonslayer/inhand.rsi/inhand-left.png
  Resources/Textures/Imperial/Medieval/MArtifacts/swords/dragonslayer/inhand.rsi/inhand-right.png
  Resources/Textures/Imperial/Medieval/MArtifacts/swords/dragonslayer/inhand.rsi/meta.json
  Resources/Textures/Imperial/Medieval/MArtifacts/swords/realknife/icon.rsi/icon.png
  Resources/Textures/Imperial/Medieval/MArtifacts/swords/realknife/icon.rsi/meta.json
  Resources/Textures/Imperial/Medieval/MArtifacts/swords/realknife/inhand.rsi/inhand-left.png
  Resources/Textures/Imperial/Medieval/MArtifacts/swords/realknife/inhand.rsi/inhand-right.png
  Resources/Textures/Imperial/Medieval/MArtifacts/swords/realknife/inhand.rsi/meta.json
  Resources/Textures/Imperial/Medieval/MArtifacts/swords/sword/icon.rsi/icon.png
  Resources/Textures/Imperial/Medieval/MArtifacts/swords/sword/icon.rsi/meta.json
  Resources/Textures/Imperial/Medieval/MArtifacts/swords/sword/inhand.rsi/inhand-left.png
  Resources/Textures/Imperial/Medieval/MArtifacts/swords/sword/inhand.rsi/inhand-right.png
  Resources/Textures/Imperial/Medieval/MArtifacts/swords/sword/inhand.rsi/meta.json
  Resources/Textures/Imperial/Medieval/MArtifacts/swords/sword2/icon.rsi/icon.png
  Resources/Textures/Imperial/Medieval/MArtifacts/swords/sword2/icon.rsi/meta.json
  Resources/Textures/Imperial/Medieval/MArtifacts/swords/sword2/inhand.rsi/inhand-left.png
  Resources/Textures/Imperial/Medieval/MArtifacts/swords/sword2/inhand.rsi/inhand-right.png
  Resources/Textures/Imperial/Medieval/MArtifacts/swords/sword2/inhand.rsi/meta.json
  Resources/Textures/Imperial/Medieval/MArtifacts/swords/sword3/icon.rsi/icon.png
  Resources/Textures/Imperial/Medieval/MArtifacts/swords/sword3/icon.rsi/meta.json
  Resources/Textures/Imperial/Medieval/MArtifacts/swords/sword3/inhand.rsi/inhand-left.png
  Resources/Textures/Imperial/Medieval/MArtifacts/swords/sword3/inhand.rsi/inhand-right.png
  Resources/Textures/Imperial/Medieval/MArtifacts/swords/sword3/inhand.rsi/meta.json
Labels: Change Wiz Code, C#, Change WIz Prototypes, Prototypes, Resprite, Sprite, size/Medium

#341 ccvars fix
  Content.Server/Imperial/Medieval/Administration/Commands/NrpPardonCommand.cs
  Content.Server/Imperial/Medieval/Administration/Commands/NrpWarnCommand.cs
  Content.Server/Imperial/Medieval/Administration/Commands/OpenNrpPanelCommand.cs
  Content.Server/Imperial/Medieval/Administration/Nrp/NrpMessagesSystem.cs
  Content.Shared/Imperial/Medieval/Administration/Nrp/NrpCCVars.cs
Labels: C#, size/Small
