Repository imperial-space/SW-public, pull requests merged in 2025-06, with the labels that each got.

#206 Задача от дантанта
  Resources/Prototypes/Imperial/Medieval/armor.yml
  Resources/Prototypes/Imperial/Medieval/loot.yml
Labels: Prototypes

#203 Доделка скиллов
  Content.Server/Imperial/Medieval/CustomDoorKey/DoorHackSystem.cs
  Content.Server/Imperial/Medieval/CustomDoorKey/ModifyLockpickLossChanceEvent.cs
  Content.Server/Imperial/Medieval/Skills/Systems/SkillsSystem.Agility.cs
  Content.Shared/Imperial/Medieval/Lockpick/MedievalLockpickSystem.cs
  Resources/Prototypes/Imperial/Medieval/range.yml
  Resources/Prototypes/Imperial/Medieval/skills.yml
Labels: Change Wiz Code, C#, Change WIz Prototypes, Prototypes, size/Small

#207 Добавление точильного станка
  Content.Server/Imperial/Medieval/MeleeResource/MedievalMeleeResourceSystem.cs
  Content.Shared/Imperial/Medieval/MedievalMeleeRepairComponent.cs
  Content.Shared/Imperial/Medieval/MedievalMeleeRepairStructureComponent.cs
  Resources/Locale/ru-RU/Imperial/Medieval/medieval.ftl
  Resources/Prototypes/Imperial/Medieval/medieval.yml
  Resources/Textures/Imperial/Medieval/Structures/sharpening_machine.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Structures/sharpening_machine.rsi/meta.json
Labels: Change Wiz Code, C#, Change WIz Prototypes, Prototypes, Resprite, Sprite, size/Small

#210 Combat mode upgrade
  Content.Client/CombatMode/CombatModeSystem.cs
  Content.Shared/CombatMode/CombatModeComponent.cs
  Content.Shared/CombatMode/SharedCombatModeSystem.cs
  Resources/Audio/Imperial/Medieval/CombatMode/combat_off.ogg
  Resources/Audio/Imperial/Medieval/CombatMode/combat_on.ogg
  Resources/Prototypes/Imperial/Medieval/StatusIcons/combat_mode.yml
  Resources/Textures/Imperial/Medieval/StatusIcons/combat_mode.rsi/icon.png
  Resources/Textures/Imperial/Medieval/StatusIcons/combat_mode.rsi/meta.json
Labels: Change Wiz Code, C#, Change WIz Prototypes, Prototypes, Resprite, Sprite, size/Small, Audio, Change Wiz Audio

#213 Набор скинов
  Resources/Locale/ru-RU/Imperial/Medieval/medieval.ftl
  Resources/Prototypes/Imperial/Medieval/armor.yml
  Resources/Prototypes/Imperial/Medieval/helmets.yml
  Resources/Textures/Imperial/Medieval/Clothing/Armor/ancientmage.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Imperial/Medieval/Clothing/Armor/ancientmage.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Armor/ancientmage.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Clothing/Armor/stray.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Imperial/Medieval/Clothing/Armor/stray.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Armor/stray.rsi/inhand-left.png
  Resources/Textures/Imperial/Medieval/Clothing/Armor/stray.rsi/inhand-right.png
  Resources/Textures/Imperial/Medieval/Clothing/Armor/stray.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Clothing/Head/ancientmage.rsi/equipped-HELMET.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/ancientmage.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/ancientmage.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Clothing/Head/stray.rsi/equipped-HELMET.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/stray.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/stray.rsi/inhand-left.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/stray.rsi/inhand-right.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/stray.rsi/meta.json
Labels: Change WIz Prototypes, Prototypes, Resprite, Sprite, size/Small

#214 Построение и фикс щитов
  Content.Client/Imperial/Medieval/CombatStance/StancePointHijack.cs
  Content.Client/Imperial/Medieval/CombatStance/StanceUIController.cs
  Content.Client/UserInterface/Systems/Emotes/EmotesUIController.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/Imperial/AlwaysPvs/AlwaysPvsSystem.cs
  Content.Server/Imperial/Medieval/CombatStance/CombatStancePointTestSystem.cs
  Content.Server/Imperial/Medieval/Friendly/Systems/FriendsSystem.FactionMenu.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Shared/Blocking/BlockingSystem.cs
  Content.Shared/Imperial/Medieval/CombatStance/CombatStanceComponent.cs
  Content.Shared/Imperial/Medieval/CombatStance/CombatStanceMenuEvent.cs
  Content.Shared/Imperial/Medieval/CombatStance/CombatStancePointComponent.cs
  Content.Shared/Imperial/Medieval/CombatStance/CombatStancePointEvent.cs
  Content.Shared/Imperial/Medieval/CombatStance/CombatStancePointPlaceMessage.cs
  Content.Shared/Imperial/Medieval/CombatStance/CombatStancePointRemoveMessage.cs
  Content.Shared/Imperial/Medieval/Friends/Components/FactionDataContainerComponent.cs
  Resources/Locale/ru-RU/Imperial/Medieval/combatstancepoints.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Imperial/Medieval/Actions/stancepoints.yml
  Resources/Prototypes/Imperial/Medieval/combatstance.yml
  Resources/Textures/Imperial/Medieval/CombatStance/point.rsi/green.png
  Resources/Textures/Imperial/Medieval/CombatStance/point.rsi/meta.json
  Resources/Textures/Imperial/Medieval/CombatStance/point.rsi/red.png
  Resources/Textures/Imperial/Medieval/CombatStance/point.rsi/yellow.png
Labels: Change Wiz Code, C#, Change WIz Prototypes, Prototypes, Resprite, Sprite, size/Small

#215 replace placeholder
  Resources/Prototypes/Imperial/Medieval/Actions/stancepoints.yml
  Resources/Textures/Imperial/Medieval/CombatStance/point.rsi/marker-icon.png
  Resources/Textures/Imperial/Medieval/CombatStance/point.rsi/meta.json
Labels: Change WIz Prototypes, Prototypes, Resprite, Sprite, size/Small

#217 anti steal afk fix
  Content.Shared/Imperial/Medieval/Additions/AntiStealAfkSystem.cs
Labels: C#, size/Small

#220 add chaining and separate points into different datas also fix shields
  Content.Server/Imperial/Medieval/CombatStance/CombatStancePointTestSystem.cs
  Content.Shared/Blocking/BlockingSystem.cs
Labels: Change Wiz Code, C#, size/Small

#221 Правки по комбатмоду
  Content.Client/CombatMode/CombatModeSystem.cs
  Content.Shared/CombatMode/SharedCombatModeSystem.cs
Labels: Change Wiz Code, C#, size/Small

#234 fix grab issues.
  Content.Client/Physics/Controllers/MoverController.cs
  Content.Server/Imperial/Medieval/Grab/Components/GrabMovingComponent.cs
  Content.Server/Imperial/Medieval/Grab/Controllers/GrabController.cs
  Content.Shared/Imperial/Medieval/Grab/Components/GrabberComponent.cs
  Content.Shared/Imperial/Medieval/Grab/Systems/GrabSystem.cs
Labels: Change Wiz Code, C#, size/Small

#237 Клиентский свет
  Content.Client/Imperial/LocalLight/LocalLightSystem.cs
  Content.Shared/Imperial/LocalLight/LocalLightComponent.cs
Labels: C#

#243 Фикс ошибки с ключом койота
  Resources/Textures/Imperial/Medieval/Misc/key_storage.rsi/kayot.png
  Resources/Textures/Imperial/Medieval/Misc/key_storage.rsi/meta.json
Labels: Resprite, Sprite, size/Small

#245 ahelp and ban message
  Content.Server/Imperial/Medieval/Administration/Nrp/NrpMessagesSystem.cs
  Resources/Locale/ru-RU/Imperial/Medieval/nrp-panel.ftl
Labels: Change Wiz Code, C#

#246 myrmex prime 2.0
  Resources/Audio/Imperial/Medieval/ant_footstep1.ogg
  Resources/Audio/Imperial/Medieval/ant_footstep2.ogg
  Resources/Audio/Imperial/Medieval/ant_footstep3.ogg
  Resources/Audio/Imperial/Medieval/ant_footstep4.ogg
  Resources/Audio/Imperial/Medieval/ant_queenfootstep.ogg
  Resources/Prototypes/Imperial/Medieval/myrmex.yml
  Resources/Textures/Imperial/Medieval/Myrmex/Castes/myrmex_larva.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Myrmex/Structures/Walls/myrmedon_door.rsi/assembly.png
  Resources/Textures/Imperial/Medieval/Myrmex/Structures/Walls/myrmedon_door.rsi/bolted_open_unlit.png
  Resources/Textures/Imperial/Medieval/Myrmex/Structures/Walls/myrmedon_door.rsi/bolted_unlit.png
  Resources/Textures/Imperial/Medieval/Myrmex/Structures/Walls/myrmedon_door.rsi/closed_unlit.png
  Resources/Textures/Imperial/Medieval/Myrmex/Structures/Walls/myrmedon_door.rsi/closing.png
  Resources/Textures/Imperial/Medieval/Myrmex/Structures/Walls/myrmedon_door.rsi/closing_unlit.png
  Resources/Textures/Imperial/Medieval/Myrmex/Structures/Walls/myrmedon_door.rsi/deny_unlit.png
  Resources/Textures/Imperial/Medieval/Myrmex/Structures/Walls/myrmedon_door.rsi/emergency_open_unlit.png
  Resources/Textures/Imperial/Medieval/Myrmex/Structures/Walls/myrmedon_door.rsi/emergency_unlit.png
  Resources/Textures/Imperial/Medieval/Myrmex/Structures/Walls/myrmedon_door.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Myrmex/Structures/Walls/myrmedon_door.rsi/open_unlit.png
  Resources/Textures/Imperial/Medieval/Myrmex/Structures/Walls/myrmedon_door.rsi/opening_unlit.png
  Resources/Textures/Imperial/Medieval/Myrmex/Structures/Walls/myrmedon_door.rsi/panel_closed.png
  Resources/Textures/Imperial/Medieval/Myrmex/Structures/Walls/myrmedon_door.rsi/panel_closing.png
  Resources/Textures/Imperial/Medieval/Myrmex/Structures/Walls/myrmedon_door.rsi/panel_open.png
  Resources/Textures/Imperial/Medieval/Myrmex/Structures/Walls/myrmedon_door.rsi/panel_opening.png
  Resources/Textures/Imperial/Medieval/Myrmex/Structures/Walls/myrmedon_door.rsi/sparks.png
  Resources/Textures/Imperial/Medieval/Myrmex/Structures/Walls/myrmedon_door.rsi/sparks_broken.png
  Resources/Textures/Imperial/Medieval/Myrmex/Structures/Walls/myrmedon_door.rsi/sparks_damaged.png
  Resources/Textures/Imperial/Medieval/Myrmex/Structures/Walls/myrmedon_door.rsi/sparks_open.png
  Resources/Textures/Imperial/Medieval/Myrmex/Structures/Walls/myrmedon_door.rsi/welded.png
  Resources/Textures/Imperial/Medieval/Myrmex/Structures/myrmex_tiles.png
  Resources/Textures/Imperial/Medieval/Myrmex/Structures/myrmex_tiles1.png
  Resources/Textures/Imperial/Medieval/Myrmex/Structures/myrmex_tiles2.png
Labels: Change WIz Prototypes, Prototypes, Resprite, Sprite, size/Small, Audio

#239 Скин и почва
  Resources/Locale/ru-RU/Imperial/Medieval/medieval.ftl
  Resources/Prototypes/Imperial/Medieval/clothes.yml
  Resources/Prototypes/Imperial/Medieval/medieval.yml
  Resources/Prototypes/Imperial/Medieval/mine.yml
  Resources/Prototypes/Imperial/Medieval/skins.yml
  Resources/Textures/Imperial/Medieval/Chem/Garden/root.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Chem/Garden/root.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Clothing/ShitCloth/shit_cloth_72.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Imperial/Medieval/Clothing/ShitCloth/shit_cloth_72.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/ShitCloth/shit_cloth_72.rsi/inhand-left.png
  Resources/Textures/Imperial/Medieval/Clothing/ShitCloth/shit_cloth_72.rsi/inhand-right.png
  Resources/Textures/Imperial/Medieval/Clothing/ShitCloth/shit_cloth_72.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Walls/soil.rsi/ant.png
  Resources/Textures/Imperial/Medieval/Walls/soil.rsi/gum.png
  Resources/Textures/Imperial/Medieval/Walls/soil.rsi/lgum.png
  Resources/Textures/Imperial/Medieval/Walls/soil.rsi/loose.png
  Resources/Textures/Imperial/Medieval/Walls/soil.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Walls/soil.rsi/mushroom.png
  Resources/Textures/Imperial/Medieval/Walls/soil.rsi/normal.png
  Resources/Textures/Imperial/Medieval/Walls/soil.rsi/root.png
  Resources/Textures/Imperial/Medieval/Walls/soil.rsi/soil_e.png
  Resources/Textures/Imperial/Medieval/Walls/soil.rsi/soil_n.png
  Resources/Textures/Imperial/Medieval/Walls/soil.rsi/soil_s.png
  Resources/Textures/Imperial/Medieval/Walls/soil.rsi/soil_w.png
  Resources/Textures/Imperial/Medieval/Walls/soil.rsi/solid.png
Labels: Change WIz Prototypes, Prototypes, Resprite, Sprite, size/Small

#249 Почва
  Resources/Textures/Imperial/Medieval/Walls/soil.rsi/normal.png
Labels: Resprite, Sprite, size/Small

#252 Респрайт почвы
  Resources/Textures/Imperial/Medieval/Walls/soil.rsi/loose.png
  Resources/Textures/Imperial/Medieval/Walls/soil.rsi/normal.png
  Resources/Textures/Imperial/Medieval/Walls/soil.rsi/solid.png
Labels: Resprite, Sprite, size/Small

#251 фиксы спрайтов
  Resources/Textures/Imperial/Medieval/Clothing/Head/leg2.rsi/equipped-HELMET.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/leg2_5.rsi/equipped-HELMET.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/leg3.rsi/equipped-HELMET.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/leg4.rsi/equipped-HELMET.png
Labels: Resprite, Sprite, size/Small

#253 fixes
  Content.Server/Imperial/Medieval/Chemistry/ChemistryRandomizationSystem.cs
  Content.Server/Imperial/Medieval/CombatStance/CombatStancePointTestSystem.cs
Labels: C#
