Repository imperial-space/SW-public, pull requests merged in 2025-08, with the labels that each got.

#348 фиксы картин и книг
  Content.Client/Imperial/Medieval/PlayerCreations/Administration/BookEntry.xaml.cs
  Content.Client/Imperial/Medieval/PlayerCreations/Administration/CreationsConfirmDialog.xaml
  Content.Client/Imperial/Medieval/PlayerCreations/Administration/CreationsConfirmDialog.xaml.cs
  Content.Client/Imperial/Medieval/PlayerCreations/Administration/CreationsPanelEui.cs
  Content.Client/Imperial/Medieval/PlayerCreations/Administration/PaintingEntry.xaml.cs
  Content.Server/Imperial/Medieval/PlayerCreations/Administration/CreationsPanelEui.cs
  Content.Server/Imperial/Medieval/PlayerCreations/Administration/CreationsSystem.cs
  Resources/Locale/ru-RU/Imperial/Medieval/creations/books.ftl
  Resources/Locale/ru-RU/Imperial/Medieval/creations/painting.ftl
  Resources/Locale/ru-RU/Imperial/Medieval/creations/panel.ftl
  Resources/Prototypes/Imperial/Medieval/Creations/paintings.yml
Labels: Change Wiz Code, C#, Change WIz Prototypes, Prototypes, UI

#347 Cult tp sys fix & comp
  Content.Server/Imperial/Medieval/Cult/CultSystem.cs
  Content.Server/Imperial/Medieval/Cult/CultTeleportedComponent.cs
Labels: C#, size/Small

#346 doafter hit sys & comp
  Content.Server/Imperial/Medieval/DoOnUse/DoAfterSystem.cs
  Content.Shared/Imperial/Medieval/DoOnUse/MedievalDoAfterEveryComponent.cs
Labels: C#, size/Small

#352 Дуафтер заклинанию / Бесцветные Инферны / Язык Череп скелета
  Resources/Prototypes/Body/Parts/skeleton.yml
  Resources/Prototypes/Imperial/Medieval/Magic/Spells/Fire/FireWall/actions.yml
  Resources/Prototypes/Imperial/Medieval/tifling.yml
  Resources/Textures/Imperial/Medieval/Species/Tifling/parts.rsi/full.png
  Resources/Textures/Imperial/Medieval/Species/Tifling/parts.rsi/head_f.png
  Resources/Textures/Imperial/Medieval/Species/Tifling/parts.rsi/head_m.png
  Resources/Textures/Imperial/Medieval/Species/Tifling/parts.rsi/l_arm.png
  Resources/Textures/Imperial/Medieval/Species/Tifling/parts.rsi/l_foot.png
  Resources/Textures/Imperial/Medieval/Species/Tifling/parts.rsi/l_hand.png
  Resources/Textures/Imperial/Medieval/Species/Tifling/parts.rsi/l_leg.png
  Resources/Textures/Imperial/Medieval/Species/Tifling/parts.rsi/r_arm.png
  Resources/Textures/Imperial/Medieval/Species/Tifling/parts.rsi/r_foot.png
  Resources/Textures/Imperial/Medieval/Species/Tifling/parts.rsi/r_hand.png
  Resources/Textures/Imperial/Medieval/Species/Tifling/parts.rsi/r_leg.png
  Resources/Textures/Imperial/Medieval/Species/Tifling/parts.rsi/torso_f.png
  Resources/Textures/Imperial/Medieval/Species/Tifling/parts.rsi/torso_m.png
Labels: Change WIz Prototypes, Prototypes, Resprite, Sprite, size/Small

#349 скрыть одежду под шляпой sys & comp
  Content.Shared/Imperial/Medieval/HideHair/MedievalToggleHairComponents.cs
  Content.Shared/Imperial/Medieval/HideHair/MedievalToggleHairSystem.cs
  Resources/Prototypes/Imperial/Medieval/Actions/other.yml
Labels: Change Wiz Code, C#, Change WIz Prototypes, Prototypes, size/Small

#353 Биг зельеварение реворк
  Content.Client/Imperial/Medieval/Chemistry/ChemistryRandomizationSystem.cs
  Content.Server/Fluids/EntitySystems/PuddleSystem.cs
  Content.Server/Imperial/Medieval/Chemistry/ChemistryRandomizationSystem.cs
  Content.Server/Imperial/Medieval/Chemistry/Randomization/ChemistryRandomizationSystem.cs
  Content.Server/Nutrition/EntitySystems/FlavorProfileSystem.cs
  Content.Shared/Chemistry/Components/Solution.cs
  Content.Shared/Chemistry/EntitySystems/SharedSolutionContainerSystem.cs
  Content.Shared/Chemistry/Reaction/ChemicalReactionSystem.cs
  Content.Shared/Chemistry/Reaction/ReactionPrototype.cs
  Content.Shared/Imperial/Medieval/Chemistry/Randomization/ChemistryRandomizationPrototypes.cs
  Content.Shared/Imperial/Medieval/Chemistry/Randomization/ChemistryRandomizationSystem.cs
  Content.Shared/Imperial/Medieval/Chemistry/Randomization/Data/GeneratedReagentData.cs
  Content.Shared/Imperial/Medieval/Chemistry/Randomization/Data/ReactionData.cs
  Content.Shared/Imperial/Medieval/Chemistry/Randomization/Events/RequestChemistryRandomizationSeedMessage.cs
  Content.Shared/Imperial/Medieval/Chemistry/Randomization/Events/SetChemistryRandomizationSeedMessage.cs
  Resources/Prototypes/Imperial/Medieval/Potions/random_groups.yml
  Resources/Prototypes/Imperial/Medieval/Potions/reactions.yml
  Resources/Prototypes/Imperial/Medieval/Potions/reagents.yml
  Resources/Prototypes/Imperial/Medieval/medievalchem.yml
Labels: Change Wiz Code, C#, Change WIz Prototypes, Prototypes, size/Medium

#359 Заклинание кинжала культа
  Resources/Locale/ru-RU/Imperial/Medieval/Magic/Spells/darkness.ftl
  Resources/Locale/ru-RU/Imperial/Medieval/medieval.ftl
  Resources/Prototypes/Imperial/Medieval/Magic/Spells/Darkness/CultDagger/actions.yml
  Resources/Prototypes/Imperial/Medieval/Magic/Spells/Darkness/CultDagger/effect.yml
  Resources/Prototypes/Imperial/Medieval/Magic/Spells/Darkness/CultDagger/projectiles.yml
  Resources/Prototypes/Imperial/Medieval/Magic/Spells/Darkness/CultDagger/store.yml
  Resources/Textures/Imperial/Medieval/Gun/Charmer/dagger_cult_magic.rsi/1.png
  Resources/Textures/Imperial/Medieval/Gun/Charmer/dagger_cult_magic.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Melee/dagger_cult_magic.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Melee/dagger_cult_magic.rsi/inhand-left.png
  Resources/Textures/Imperial/Medieval/Melee/dagger_cult_magic.rsi/inhand-right.png
  Resources/Textures/Imperial/Medieval/Melee/dagger_cult_magic.rsi/meta.json
Labels: Change Wiz Code, C#, Change WIz Prototypes, Prototypes, Resprite, Sprite, size/Small

#361 add: добавлены вывески, покупаемые у торговца дырой
  Resources/Prototypes/Imperial/Medieval/crafts.yml
  Resources/Prototypes/Imperial/Medieval/mainshop.yml
  Resources/Prototypes/Imperial/Medieval/shop_demo.yml
Labels: Prototypes, size/Small

#366 fixix
  Resources/Locale/ru-RU/Imperial/Medieval/Plague/actions.ftl
  Resources/Prototypes/Imperial/Medieval/Plague/cure.yml
Labels: Change WIz Prototypes, Prototypes

#368 порт пр
  Content.Server/Imperial/Medieval/DoOnUse/MedievalDoAfterSystem.cs
  Content.Shared/Imperial/Medieval/DoOnUse/MedievalDoAfterComponent.cs
Labels: C#, size/Small

#370 чарджед аттак
  Content.Client/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Shared/Imperial/Medieval/ChargedAttack/ChargedAttackComponent.cs
  Content.Shared/Imperial/Medieval/ChargedAttack/ChargedAttackSystem.cs
  Content.Shared/Imperial/Medieval/Parry/MeleeParrySystem.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Resources/Prototypes/Entities/Objects/Weapons/Melee/baseball_bat.yml
  Resources/Prototypes/Imperial/Medieval/ChargedAttack/base.yml
  Resources/Prototypes/Imperial/Medieval/ChargedAttack/effect.yml
  Resources/Prototypes/Imperial/Medieval/blacksmithing.yml
  Resources/Prototypes/Imperial/Medieval/cult.yml
  Resources/Prototypes/Imperial/Medieval/melee.yml
  Resources/Textures/Imperial/Medieval/ChargedAttack/effect.rsi/charging-attack-1-5s.png
  Resources/Textures/Imperial/Medieval/ChargedAttack/effect.rsi/charging-attack-2s.png
  Resources/Textures/Imperial/Medieval/ChargedAttack/effect.rsi/charging-attack-3s.png
  Resources/Textures/Imperial/Medieval/ChargedAttack/effect.rsi/charging-attack-4s.png
  Resources/Textures/Imperial/Medieval/ChargedAttack/effect.rsi/meta.json
Labels: Change Wiz Code, C#, Change WIz Prototypes, Prototypes, Resprite, Sprite, size/Small

#371 фиксы чарджед атаки
  Content.Client/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Shared/Imperial/Medieval/ChargedAttack/ChargedAttackSystem.cs
  Content.Shared/Imperial/Medieval/Parry/MeleeParrySystem.cs
Labels: Change Wiz Code, C#, size/Small

#369 Zone-based Ambient Sound with Fade
  Content.Server/Imperial/Audio/Components/LocationTriggerComponent.cs
  Content.Server/Imperial/Audio/Components/PlayerLocationComponent.cs
  Content.Server/Imperial/Audio/Systems/LocationAudioSystem.cs
  Resources/Prototypes/Entities/Mobs/base.yml
  Resources/Prototypes/Imperial/Entities/Objects/ambient_location.yml
Labels: Change Wiz Code, C#, Change WIz Prototypes, Prototypes, size/Small

#374 проблемы анимации...
  Content.Shared/Imperial/Medieval/ChargedAttack/ChargedAttackSystem.cs
Labels: C#, size/Small
