Repository imperial-space/SW-public, pull requests merged in 2025-05, with the labels that each got.

#173 Набор одежды и оружия Белосветов
  Resources/Locale/ru-RU/Imperial/Medieval/medieval.ftl
  Resources/Prototypes/Imperial/Medieval/cloaks.yml
  Resources/Prototypes/Imperial/Medieval/clothes.yml
  Resources/Prototypes/Imperial/Medieval/melee.yml
  Resources/Textures/Imperial/Medieval/Clothing/Belt/royalsheath.rsi/equipped-BELT.png
  Resources/Textures/Imperial/Medieval/Clothing/Belt/royalsheath.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Clothing/Belt/royalsheath.rsi/sheath-sabre-equipped-BELT.png
  Resources/Textures/Imperial/Medieval/Clothing/Belt/royalsheath.rsi/sheath-sabre.png
  Resources/Textures/Imperial/Medieval/Clothing/Belt/royalsheath.rsi/sheath.png
  Resources/Textures/Imperial/Medieval/Clothing/Cloaks/royalcloak.rsi/equipped-NECK.png
  Resources/Textures/Imperial/Medieval/Clothing/Cloaks/royalcloak.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Cloaks/royalcloak.rsi/inhand-left.png
  Resources/Textures/Imperial/Medieval/Clothing/Cloaks/royalcloak.rsi/inhand-right.png
  Resources/Textures/Imperial/Medieval/Clothing/Cloaks/royalcloak.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Clothing/Cloaks/royalcloakalt.rsi/equipped-NECK.png
  Resources/Textures/Imperial/Medieval/Clothing/Cloaks/royalcloakalt.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Cloaks/royalcloakalt.rsi/inhand-left.png
  Resources/Textures/Imperial/Medieval/Clothing/Cloaks/royalcloakalt.rsi/inhand-right.png
  Resources/Textures/Imperial/Medieval/Clothing/Cloaks/royalcloakalt.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Clothing/Coats/royalcoat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Imperial/Medieval/Clothing/Coats/royalcoat.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Coats/royalcoat.rsi/inhand-left.png
  Resources/Textures/Imperial/Medieval/Clothing/Coats/royalcoat.rsi/inhand-right.png
  Resources/Textures/Imperial/Medieval/Clothing/Coats/royalcoat.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Clothing/Gloves/royalgloves.rsi/equipped-HAND.png
  Resources/Textures/Imperial/Medieval/Clothing/Gloves/royalgloves.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Gloves/royalgloves.rsi/inhand-left.png
  Resources/Textures/Imperial/Medieval/Clothing/Gloves/royalgloves.rsi/inhand-right.png
  Resources/Textures/Imperial/Medieval/Clothing/Gloves/royalgloves.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Clothing/ShitCloth/shit_cloth_69.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Imperial/Medieval/Clothing/ShitCloth/shit_cloth_69.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/ShitCloth/shit_cloth_69.rsi/inhand-left.png
  Resources/Textures/Imperial/Medieval/Clothing/ShitCloth/shit_cloth_69.rsi/inhand-right.png
  Resources/Textures/Imperial/Medieval/Clothing/ShitCloth/shit_cloth_69.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Clothing/ShitCloth/shit_cloth_70.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Imperial/Medieval/Clothing/ShitCloth/shit_cloth_70.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/ShitCloth/shit_cloth_70.rsi/inhand-left.png
  Resources/Textures/Imperial/Medieval/Clothing/ShitCloth/shit_cloth_70.rsi/inhand-right.png
  Resources/Textures/Imperial/Medieval/Clothing/ShitCloth/shit_cloth_70.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Clothing/Shoes/royalboots.rsi/equipped-FEET.png
  Resources/Textures/Imperial/Medieval/Clothing/Shoes/royalboots.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Shoes/royalboots.rsi/inhand-left.png
  Resources/Textures/Imperial/Medieval/Clothing/Shoes/royalboots.rsi/inhand-right.png
  Resources/Textures/Imperial/Medieval/Clothing/Shoes/royalboots.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Melee/royalsword.rsi/equipped-BACKPACK.png
  Resources/Textures/Imperial/Medieval/Melee/royalsword.rsi/equipped-BELT.png
  Resources/Textures/Imperial/Medieval/Melee/royalsword.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Imperial/Medieval/Melee/royalsword.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Melee/royalsword.rsi/inhand-left.png
  Resources/Textures/Imperial/Medieval/Melee/royalsword.rsi/inhand-right.png
  Resources/Textures/Imperial/Medieval/Melee/royalsword.rsi/meta.json
Labels: Change WIz Prototypes, Prototypes, Resprite, Sprite, size/Small

#176 hotfix
  Resources/Locale/ru-RU/Imperial/Medieval/medieval.ftl
  Resources/Prototypes/Imperial/Medieval/jobs.yml
  Resources/Prototypes/Imperial/Medieval/lathes.yml
  Resources/Prototypes/Imperial/Medieval/mainshop.yml
  Resources/Prototypes/Imperial/Medieval/medieval.yml
  Resources/Prototypes/Imperial/Medieval/medievalchem.yml
  Resources/Prototypes/Imperial/Medieval/shop_demo.yml
Labels: Change WIz Prototypes, Prototypes, size/Small

#177 Ещё один фикс краша...
  Resources/Prototypes/Imperial/Medieval/tags.yml
Labels: Prototypes

#175 Ночь перед ОБТ
  Content.Client/Imperial/Medieval/Skills/UI/HumanoidProfileEditor.Skills.cs
  Content.Server/Imperial/Medieval/Skills/Systems/SkillsSystem.Agility.cs
  Content.Server/Imperial/Medieval/Skills/Systems/SkillsSystem.Vitality.cs
  Content.Shared/Imperial/Medieval/MedievalDash/Systems/MedievalDashSystem.cs
  Content.Shared/Imperial/Medieval/RandomSteal/RandomStealComponent.cs
  Content.Shared/Imperial/Medieval/Skills/Systems/SharedSkillsSystem.Intelligence.cs
  Content.Shared/Imperial/Medieval/Skills/Systems/SharedSkillsSystem.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Resources/Prototypes/Imperial/Medieval/skills.yml
Labels: Change Wiz Code, C#, Change WIz Prototypes, Prototypes, size/Small

#178 hotfix(src): Фикс старта раунда
  Content.Server/Imperial/Medieval/Skills/Systems/SkillsSystem.Intelligence.cs
Labels: C#

#179 ОБТшные доделки
  Content.Client/Imperial/Medieval/Skills/UI/HumanoidProfileEditor.Skills.cs
  Content.Server/Imperial/Medieval/Skills/Systems/SkillsSystem.Strength.cs
  Content.Server/Imperial/Medieval/Skills/Systems/SkillsSystem.Vitality.cs
  Content.Server/Imperial/Medieval/Skills/Systems/SkillsSystem.cs
  Content.Server/Imperial/Medieval/Steal/RandomStealSystems.cs
  Content.Shared/Imperial/Medieval/Skills/Systems/SharedSkillsSystem.Vitality.cs
  Content.Shared/Imperial/Medieval/Skills/Systems/SharedSkillsSystem.cs
  Content.Shared/Movement/Pulling/Components/PullableComponent.cs
  Content.Shared/Movement/Pulling/Components/PullerComponent.cs
  Content.Shared/Movement/Pulling/Systems/PullingSystem.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Content.Shared/Weapons/Melee/Components/MeleeThrowOnHitComponent.cs
  Resources/Prototypes/Imperial/Medieval/skills.yml
Labels: Change Wiz Code, C#, Change WIz Prototypes, Prototypes, size/Small

#180 Ещё пара достаточно срочных фиксов
  Content.Server/Imperial/Medieval/Skills/Systems/SkillsSystem.Vitality.cs
  Content.Shared/Movement/Pulling/Systems/PullingSystem.cs
Labels: Change Wiz Code, C#, size/Small

#181 Фикс блокировки персонажей
  Content.Server/Imperial/Medieval/CharacterBlocker/CharacterBlockSystem.cs
Labels: C#, size/Small

#182 Фикс карманничества
  Content.Server/Imperial/Medieval/Skills/Systems/SkillsSystem.Intelligence.cs
  Content.Server/Imperial/Medieval/Skills/Systems/SkillsSystem.Vitality.cs
  Content.Server/Imperial/Medieval/Skills/Systems/SkillsSystem.cs
  Content.Server/Imperial/Medieval/Steal/RandomStealSystems.cs
  Content.Server/Imperial/Medieval/Workbench/CP14WorkbenchSystem.cs
  Content.Server/Imperial/Medieval/Workbench/ChechWorkbenchCraftSpeedModifiersEvent.cs
  Content.Shared/Imperial/Medieval/RandomSteal/RandomStealComponent.cs
  Content.Shared/Imperial/Medieval/RandomSteal/RandomStealEvent.cs
  Content.Shared/Imperial/Medieval/Skills/Systems/SharedSkillsSystem.Vitality.cs
  Resources/Prototypes/Imperial/Medieval/Languages/sw_languages.yml
Labels: Change Wiz Code, C#, Change WIz Prototypes, Prototypes, size/Small

#183 Задержка апдейта
  Content.Server/Imperial/Medieval/Skills/Systems/SkillsSystem.cs
Labels: C#, size/Small

#184 Error hotfix
  Resources/Textures/Imperial/Medieval/Effects/Teleport.rsi/teleport.png
  Resources/Textures/Imperial/Medieval/Interface/sparkle.rsi/meta.json
  Resources/Textures/Interface/Misc/ai_hud.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/baseball_bat.rsi/meta.json
Labels: Resprite, Sprite, size/Small

#185 Броня гоблинов изменения баланса
  Resources/Prototypes/Imperial/Medieval/armor.yml
  Resources/Prototypes/Imperial/Medieval/lather_smith_resipes.yml
  Resources/Prototypes/Imperial/Medieval/medievalchem.yml
Labels: Prototypes, size/Small

#186 Фикс влияния скиллов на скорость
  Content.Shared/Clothing/ClothingSpeedModifierSystem.cs
  Content.Shared/Imperial/Medieval/Clothing/ModifyClothingMovespeedModifierEvent.cs
  Content.Shared/Imperial/Medieval/Skills/Systems/SharedSkillsSystem.Endurance.cs
  Content.Shared/Imperial/Medieval/Skills/Systems/SharedSkillsSystem.Vitality.cs
Labels: Change Wiz Code, C#

#187 фикс темного мага опять
  Content.Client/Imperial/Medieval/DarkMage/DarkMageOverlay.cs
  Content.Server/Imperial/Medieval/DarkMage/DarkMageSystem.cs
Labels: C#, size/Small

#188 Всплывающее окно с правилами роли
  Content.Client/Imperial/Medieval/WarningOnAttach/AttachWarningWindow.xaml
  Content.Client/Imperial/Medieval/WarningOnAttach/AttachWarningWindow.xaml.cs
  Content.Client/Imperial/Medieval/WarningOnAttach/WarningOnAttachSystem.cs
  Content.Server/Imperial/Medieval/WarningOnAttach/WarningOnAttachComponent.cs
  Content.Server/Imperial/Medieval/WarningOnAttach/WarningOnAttachSystem.cs
  Content.Shared/Imperial/Medieval/WarningOnAttach/ShowWarningOnAttachMessage.cs
Labels: C#, UI, size/Small

#189 доделка
  Content.Client/Imperial/Medieval/WarningOnAttach/AttachWarningWindow.xaml
Labels: UI

#193 feat: port desth screen from RD
  Content.Client/_RD/DeathScreen/RDDeathScreenControl.cs
  Content.Client/_RD/DeathScreen/RDDeathScreenSystem.cs
  Content.Client/_RD/UI/RDControl.cs
  Content.Client/_RD/fork_systems_here
  Content.Server/_RD/DeathScreen/RDDeathScreenSystem.cs
  Content.Server/_RD/fork_systems_here
  Content.Shared/DeathScreen/RDDeathScreenComponent.cs
  Content.Shared/DeathScreen/RDDeathScreenShowEvent.cs
  Content.Shared/RDEntitySystem.cs
  Content.Shared/fork_systems_here
  Resources/Audio/Imperial/Medieval/DeathScreen/drown.ogg
  Resources/Audio/_RD/DeathScreen/svintus_coming.ogg
  Resources/Fonts/_RD/KosmoletFuturism.otf
Labels: Change Wiz Code, C#, Audio, Change Wiz Audio

#192 Текстура камня возрождения.
  Resources/Prototypes/Imperial/Objects/Specific/Medical/CompactDefib/compactdefib.yml
  Resources/Textures/Imperial/Medieval/Magic/rebirthstone.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Magic/rebirthstone.rsi/inhand-left.png
  Resources/Textures/Imperial/Medieval/Magic/rebirthstone.rsi/inhand-right.png
  Resources/Textures/Imperial/Medieval/Magic/rebirthstone.rsi/meta.json
Labels: Change WIz Prototypes, Prototypes, Resprite, Sprite

#195 surrender
  Content.Server/Imperial/Medieval/Surrender/SurrenderSystem.cs
  Content.Shared/Imperial/Medieval/Surrender/CanSurrenderComponent.cs
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Imperial/Medieval/surrender.yml
  Resources/Textures/Imperial/Medieval/Surrender/action.rsi/action.png
  Resources/Textures/Imperial/Medieval/Surrender/action.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Surrender/flag.rsi/flag.png
  Resources/Textures/Imperial/Medieval/Surrender/flag.rsi/meta.json
Labels: Change Wiz Code, C#, Change WIz Prototypes, Prototypes, Resprite, Sprite

#196 AntiStealAfk ShieldOnStartup MedievalTimedDespawn
  Content.Client/Imperial/Additions/MedievalTimedDespawnSystem.cs
  Content.Server/Imperial/Medieval/Additions/MedievalTimedDespawnSystem.cs
  Content.Server/Imperial/Medieval/Steal/RandomStealSystems.cs
  Content.Shared/Imperial/Medieval/Additions/AntiStealAfkComponent.cs
  Content.Shared/Imperial/Medieval/Additions/AntiStealAfkSystem.cs
  Content.Shared/Imperial/Medieval/Additions/MedievalSharedTimedDespawnSystem.cs
  Content.Shared/Imperial/Medieval/Additions/MedievalTimedDespawnComponent.cs
  Content.Shared/Imperial/Medieval/Additions/ShieldOnStartupComponent.cs
  Content.Shared/Imperial/Medieval/Additions/ShieldOnStartupSystem.cs
  Content.Shared/Strip/SharedStrippableSystem.cs
  Resources/Locale/ru-RU/Imperial/Medieval/additions.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Imperial/Medieval/additions.yml
Labels: Change Wiz Code, C#, Change WIz Prototypes, Prototypes

#197 Маскировка ноктюрнов
  Content.Server/Imperial/Medieval/Nocturn/RaceSystem.cs
  Content.Shared/Imperial/Medieval/Nocturn/NocturnComponent.cs
  Resources/Locale/ru-RU/Imperial/Medieval/medieval.ftl
  Resources/Prototypes/Imperial/Medieval/Nocturn/actions.yml
  Resources/Textures/Imperial/Medieval/Vampire/actions.rsi/disguise.png
  Resources/Textures/Imperial/Medieval/Vampire/actions.rsi/meta.json
Labels: Change Wiz Code, C#, Change WIz Prototypes, Prototypes, Resprite, Sprite, size/Small

#200 Добавление брони - стёганка.
  Resources/Locale/ru-RU/Imperial/Medieval/medieval.ftl
  Resources/Prototypes/Imperial/Medieval/armor.yml
  Resources/Prototypes/Imperial/Medieval/latheresipes.yml
  Resources/Prototypes/Imperial/Medieval/lathes.yml
  Resources/Prototypes/Imperial/Medieval/mainshop.yml
  Resources/Prototypes/Imperial/Medieval/shop_demo.yml
  Resources/Textures/Imperial/Medieval/Clothing/Armor/gambeson_armor.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Imperial/Medieval/Clothing/Armor/gambeson_armor.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Armor/gambeson_armor.rsi/inhand-left.png
  Resources/Textures/Imperial/Medieval/Clothing/Armor/gambeson_armor.rsi/inhand-right.png
  Resources/Textures/Imperial/Medieval/Clothing/Armor/gambeson_armor.rsi/meta.json
Labels: Change WIz Prototypes, Prototypes, Resprite, Sprite, size/Small

#201 Всякие ограничения из-за низкого интеллекта, небольшой фикс
  Content.Server/Imperial/Medieval/CustomDoorKey/DoorHackSystem.cs
  Content.Server/Imperial/Medieval/LockDoor/LockDoorSystem.cs
  Content.Server/Imperial/Medieval/Nocturn/RaceSystem.cs
  Content.Server/Imperial/Medieval/Skills/Systems/SkillsSystem.Intelligence.cs
  Content.Shared/Imperial/Medieval/LockDoor/LockDoorComponent.cs
  Content.Shared/Imperial/Medieval/Nocturn/NocturnComponent.cs
  Content.Shared/Imperial/Medieval/Skills/Systems/SharedSkillsSystem.Intelligence.cs
  Resources/Locale/ru-RU/Imperial/Medieval/medieval.ftl
  Resources/Prototypes/Imperial/Medieval/Nocturn/actions.yml
  Resources/Textures/Imperial/Medieval/Vampire/actions.rsi/disguise_off.png
  Resources/Textures/Imperial/Medieval/Vampire/actions.rsi/disguise_on.png
  Resources/Textures/Imperial/Medieval/Vampire/actions.rsi/meta.json
Labels: Change Wiz Code, C#, Change WIz Prototypes, Prototypes, Resprite, Sprite, size/Small
