Repository imperial-space/SW-public, pull requests merged in 2025-09, with the labels that each got.

#379 Fix Скины
  Resources/Prototypes/Imperial/Medieval/clothes.yml
  Resources/Prototypes/Imperial/Medieval/helmets.yml
  Resources/Prototypes/Imperial/Medieval/melee.yml
  Resources/Prototypes/Imperial/Medieval/skins.yml
Labels: Prototypes, size/Small

#380 еще фиксы зажатой атаки
  Content.Client/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Shared/Imperial/Medieval/ChargedAttack/ChargedAttackSystem.cs
Labels: Change Wiz Code, C#, size/Small

#383 Update HealingComponent.cs
  Content.Server/Medical/Components/HealingComponent.cs
Labels: Change Wiz Code, C#, size/Small

#386 Гильдии.
  Resources/Locale/ru-RU/Imperial/Medieval/trading.ftl
  Resources/Prototypes/Imperial/Medieval/mainshop.yml
  Resources/Prototypes/Imperial/Medieval/quests.yml
  Resources/Prototypes/Imperial/Medieval/tags.yml
  Resources/Prototypes/Imperial/Medieval/trade_guilds.yml
  Resources/Textures/Imperial/Medieval/GuildsIcons/ArmorGuild1.png
  Resources/Textures/Imperial/Medieval/GuildsIcons/ArmorGuild2.png
  Resources/Textures/Imperial/Medieval/GuildsIcons/ArmorGuild3.png
  Resources/Textures/Imperial/Medieval/GuildsIcons/ArmorGuild4.png
  Resources/Textures/Imperial/Medieval/GuildsIcons/ArmorGuild5.png
  Resources/Textures/Imperial/Medieval/GuildsIcons/ArmorGuild6.png
  Resources/Textures/Imperial/Medieval/GuildsIcons/BuilderGuild1.png
  Resources/Textures/Imperial/Medieval/GuildsIcons/BuilderGuild2.png
  Resources/Textures/Imperial/Medieval/GuildsIcons/BuilderGuild3.png
  Resources/Textures/Imperial/Medieval/GuildsIcons/BuilderGuild4.png
  Resources/Textures/Imperial/Medieval/GuildsIcons/BuilderGuild5.png
  Resources/Textures/Imperial/Medieval/GuildsIcons/BuilderGuild6.png
  Resources/Textures/Imperial/Medieval/GuildsIcons/BuilderGuild7.png
  Resources/Textures/Imperial/Medieval/GuildsIcons/ClothGuild1.png
  Resources/Textures/Imperial/Medieval/GuildsIcons/ClothGuild2.png
  Resources/Textures/Imperial/Medieval/GuildsIcons/ClothGuild3.png
  Resources/Textures/Imperial/Medieval/GuildsIcons/FoodGuild1.png
  Resources/Textures/Imperial/Medieval/GuildsIcons/FoodGuild2.png
  Resources/Textures/Imperial/Medieval/GuildsIcons/FoodGuild3.png
  Resources/Textures/Imperial/Medieval/GuildsIcons/FoodGuild4.png
  Resources/Textures/Imperial/Medieval/GuildsIcons/FoodGuild5.png
  Resources/Textures/Imperial/Medieval/GuildsIcons/FoodGuild6.png
  Resources/Textures/Imperial/Medieval/GuildsIcons/MagicGuild1.png
  Resources/Textures/Imperial/Medieval/GuildsIcons/MagicGuild2.png
  Resources/Textures/Imperial/Medieval/GuildsIcons/MagicGuild3.png
  Resources/Textures/Imperial/Medieval/GuildsIcons/MagicGuild4.png
  Resources/Textures/Imperial/Medieval/GuildsIcons/MagicGuild5.png
  Resources/Textures/Imperial/Medieval/GuildsIcons/MagicGuild6.png
  Resources/Textures/Imperial/Medieval/GuildsIcons/WeaponGuild1.png
  Resources/Textures/Imperial/Medieval/GuildsIcons/WeaponGuild2.png
  Resources/Textures/Imperial/Medieval/GuildsIcons/WeaponGuild3.png
  Resources/Textures/Imperial/Medieval/GuildsIcons/WeaponGuild4.png
  Resources/Textures/Imperial/Medieval/GuildsIcons/WeaponGuild5.png
  Resources/Textures/Imperial/Medieval/GuildsIcons/WeaponGuild6.png
Labels: Change WIz Prototypes, Prototypes, Resprite, Sprite, size/Medium

#388 Новые иконки гильдий.
  Resources/Textures/Imperial/Medieval/GuildsIcons/WeaponGuild1.png
  Resources/Textures/Imperial/Medieval/GuildsIcons/WeaponGuild2.png
  Resources/Textures/Imperial/Medieval/GuildsIcons/WeaponGuild3.png
  Resources/Textures/Imperial/Medieval/GuildsIcons/WeaponGuild4.png
  Resources/Textures/Imperial/Medieval/GuildsIcons/WeaponGuild5.png
  Resources/Textures/Imperial/Medieval/GuildsIcons/WeaponGuild6.png
Labels: Resprite, Sprite, size/Small

#389 Trading fixes
  Content.Client/Imperial/Medieval/Trading/TradingMenu.xaml
  Content.Client/Imperial/Medieval/Trading/TradingMenu.xaml.cs
  Content.Server/Imperial/Medieval/Trading/TradingSystem.cs
  Content.Shared/Imperial/Medieval/Trading/Prototypes/GuildTradingItemPrototype.cs
  Content.Shared/Imperial/Medieval/Trading/TradingHelpers.cs
  Resources/Prototypes/Imperial/Medieval/mainshop.yml
Labels: Change Wiz Code, C#, Change WIz Prototypes, Prototypes, UI

#385 modify: soundoninteract system
  Content.Server/Imperial/Medieval/SoundOnInteract/SoundOnInteractSystem.cs
Labels: C#, size/Small

#396 Попытка фикса мульти спеллов
  Resources/Prototypes/Imperial/Medieval/Magic/Spells/MultiСurrency/Lightning/FireLightning/store.yml
  Resources/Prototypes/Imperial/Medieval/Magic/Spells/MultiСurrency/Sleep/store.yml
  Resources/Prototypes/Imperial/Medieval/Magic/Spells/MultiСurrency/WeakeningWave/store.yml
Labels: Prototypes, size/Small
