Repository imperial-space/SW-public, pull requests merged in 2025-04, with the labels that each got.

#124 Increase basic and medium potion count per round
  Content.Server/Imperial/Medieval/Chemistry/ChemistryRandomizationSystem.cs
Labels: C#, size/Small

#128 Вода теперь тебя режет, а не бьет кулаками
  Resources/Prototypes/Imperial/Medieval/medieval.yml
Labels: Prototypes

#127 Cooking products
  Resources/Prototypes/Imperial/Medieval/mainshop.yml
  Resources/Prototypes/Imperial/Medieval/shop_demo.yml
Labels: Prototypes

#125 Добавление устойчивости ко взрывам воротам
  Resources/Prototypes/Imperial/Medieval/medieval.yml
Labels: Prototypes, size/Small

#129 Item display system
  Content.Client/Imperial/Medieval/ItemShow/ItemDisplayOverlay.cs
  Content.Client/Imperial/Medieval/ItemShow/ItemDisplaySystem.cs
  Content.Client/UserInterface/Systems/Hands/HandsUIController.cs
  Content.Server/Imperial/Medieval/ItemShow/ItemDisplaySystem.cs
  Content.Shared/Imperial/Medieval/ItemShow/ItemDisplayComponent.cs
  Content.Shared/Imperial/Medieval/ItemShow/ItemDisplayRequest.cs
  Resources/Textures/Imperial/Medieval/Interface/ItemDisplay/bouble.png
Labels: Change Wiz Code, C#, Resprite, Sprite, size/Small

#132 Исправление латных ботинок, изменение контракта на устранение.
  Resources/Prototypes/Imperial/Medieval/armor.yml
  Resources/Prototypes/Imperial/Medieval/bounty_board.yml
  Resources/Textures/Imperial/Medieval/Misc/quest.rsi/merccontract.png
  Resources/Textures/Imperial/Medieval/Misc/quest.rsi/meta.json
Labels: Change WIz Prototypes, Prototypes, Resprite, Sprite, size/Small

#133 Корабельные паруса
  Resources/Locale/ru-RU/Imperial/Medieval/medieval.ftl
  Resources/Prototypes/Imperial/Medieval/decor.yml
  Resources/Textures/Imperial/Medieval/Decor/shipsail.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Decor/shipsail.rsi/meta.json
Labels: Change WIz Prototypes, Prototypes, Resprite, Sprite, size/Small

#134 Вестник может говорить на всеобщем
  Resources/Prototypes/Imperial/Medieval/necro.yml
Labels: Prototypes, size/Small

#130 Дэш
  Resources/Prototypes/Imperial/Medieval/medieval.yml
  Resources/Prototypes/Imperial/Medieval/mobs.yml
Labels: Prototypes, size/Small

#136 WhitelistClothing
  Content.Server/Imperial/Medieval/WhitelistClothing/WhitelistClothingSystems.cs
  Content.Shared/Imperial/Medieval/WhitelistClothing/WhitelistClothingComponents.cs
  Resources/Locale/ru-RU/Imperial/Medieval/medieval.ftl
  Resources/Prototypes/Imperial/Medieval/mobs.yml
Labels: Change Wiz Code, C#, Change WIz Prototypes, Prototypes, size/Small

#135 Add pitch depending on age for emotes
  Content.Server/Chat/Systems/ChatSystem.Emote.cs
Labels: Change Wiz Code, C#, size/Small

#142 Farmer to Innkeper's
  Resources/Prototypes/Imperial/Medieval/jobs.yml
Labels: Prototypes

#143 Hog Sprite Update
  Resources/Textures/Imperial/Medieval/Mobs/hog.rsi/bear.png
  Resources/Textures/Imperial/Medieval/Mobs/hog.rsi/bear_dead.png
Labels: Resprite, Sprite, size/Small

#141 Одежда, броня.
  Resources/Locale/ru-RU/Imperial/Medieval/medieval.ftl
  Resources/Prototypes/Imperial/Medieval/armor.yml
  Resources/Prototypes/Imperial/Medieval/clothes.yml
  Resources/Prototypes/Imperial/Medieval/helmets.yml
  Resources/Textures/Imperial/Medieval/Clothing/Armor/insbloodmagic.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Imperial/Medieval/Clothing/Armor/insbloodmagic.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Armor/insbloodmagic.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Clothing/Eyes/eblindfold.rsi/equipped-EYES.png
  Resources/Textures/Imperial/Medieval/Clothing/Eyes/eblindfold.rsi/icon-unshaded.png
  Resources/Textures/Imperial/Medieval/Clothing/Eyes/eblindfold.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Eyes/eblindfold.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Clothing/Eyes/eblindfold.rsi/unshaded.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/insbloodhelmet.rsi/equipped-HELMET.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/insbloodhelmet.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Head/insbloodhelmet.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Clothing/Mask/iron.rsi/equipped-MASK.png
  Resources/Textures/Imperial/Medieval/Clothing/Mask/iron.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Mask/iron.rsi/meta.json
Labels: Change WIz Prototypes, Prototypes, Resprite, Sprite, size/Small

#140 Щиты
  Resources/Prototypes/Imperial/Medieval/melee.yml
Labels: Prototypes, size/Small

#138 Different things
  Resources/Locale/ru-RU/Imperial/Medieval/medieval.ftl
  Resources/Prototypes/Imperial/Medieval/cult.yml
  Resources/Prototypes/Imperial/Medieval/insfactionshop.yml
  Resources/Prototypes/Imperial/Medieval/legionfactionshop.yml
  Resources/Prototypes/Imperial/Medieval/mainshop.yml
  Resources/Prototypes/Imperial/Medieval/medieval.yml
  Resources/Prototypes/Imperial/Medieval/melee.yml
  Resources/Prototypes/Imperial/Medieval/shop_demo.yml
Labels: Change WIz Prototypes, Prototypes, size/Small

#144 Фиксы
  Resources/Locale/ru-RU/Imperial/Medieval/medieval.ftl
  Resources/Locale/ru-RU/datasets.ftl
  Resources/Prototypes/Imperial/Medieval/decor.yml
Labels: Change WIz Prototypes, Prototypes, size/Small

#146 Кузнечка
  Resources/Locale/ru-RU/Imperial/Medieval/workpieces.ftl
  Resources/Prototypes/Imperial/Medieval/lather_smith_resipes.yml
Labels: Change WIz Prototypes, Prototypes

#147 Меч
  Resources/Locale/ru-RU/Imperial/Medieval/medieval.ftl
  Resources/Prototypes/Imperial/Medieval/melee.yml
  Resources/Textures/Imperial/Medieval/Melee/gs_sword.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Melee/gs_sword.rsi/inhand-left.png
  Resources/Textures/Imperial/Medieval/Melee/gs_sword.rsi/inhand-right.png
  Resources/Textures/Imperial/Medieval/Shields/gs_buckler.rsi/riot-inhand-left.png
  Resources/Textures/Imperial/Medieval/Shields/gs_buckler.rsi/riot-inhand-right.png
Labels: Change WIz Prototypes, Prototypes, Resprite, Sprite, size/Small

#148 Темный маг
  Resources/Prototypes/Imperial/Medieval/dark_mage.yml
  Resources/Textures/Imperial/Medieval/Mobs/dark_mage.rsi/darkmage.png
  Resources/Textures/Imperial/Medieval/Mobs/dark_mage.rsi/flame.png
  Resources/Textures/Imperial/Medieval/Mobs/dark_mage.rsi/meta.json
Labels: Change WIz Prototypes, Prototypes, Resprite, Sprite, size/Small

#145 Тюрьма легиона
  Resources/Locale/ru-RU/Imperial/Medieval/medieval.ftl
  Resources/Prototypes/Imperial/Medieval/custom_departments.yml
  Resources/Prototypes/Imperial/Medieval/jobs.yml
  Resources/Prototypes/Imperial/Medieval/medieval.yml
  Resources/Prototypes/Imperial/Medieval/rpgspawns.yml
  Resources/Textures/Imperial/Medieval/Misc/job_icons.rsi/legion_jailed.png
  Resources/Textures/Imperial/Medieval/Misc/job_icons.rsi/legion_jailer.png
  Resources/Textures/Imperial/Medieval/Misc/job_icons.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Misc/secretbox.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Misc/secretbox.rsi/meta.json
Labels: Change WIz Prototypes, Prototypes, Resprite, Sprite, size/Small

#149 Character block
  Content.Client/Entry/EntryPoint.cs
  Content.Client/Imperial/Medieval/CharacterBlock/CharacterBlockManager.cs
  Content.Client/Imperial/Medieval/CharacterBlock/CharacterBlockedGui.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Client/Lobby/LobbyState.cs
  Content.Client/Lobby/UI/CharacterPickerButton.xaml
  Content.Client/Lobby/UI/CharacterPickerButton.xaml.cs
  Content.Client/Lobby/UI/CharacterSetupGui.xaml.cs
  Content.Server/Imperial/Medieval/CharacterBlocker/CharacterBlockSystem.cs
  Content.Shared/Imperial/Medieval/CharacterBlock/CharacterPorifileExtensions.cs
  Content.Shared/Imperial/Medieval/CharacterBlock/SharedCharacterBlock.cs
  Resources/Locale/ru-RU/Imperial/Medieval/characterblock.ftl
Labels: Change Wiz Code, C#, UI, size/Small

#150 Катапульта в шопе фракций
  Resources/Prototypes/Imperial/Medieval/insfactionshop.yml
  Resources/Prototypes/Imperial/Medieval/legionfactionshop.yml
Labels: Prototypes, size/Small

#153 фикс моих проделок и броня для гоблинов
  Resources/Locale/ru-RU/Imperial/Medieval/medieval.ftl
  Resources/Prototypes/Imperial/Medieval/armor.yml
  Resources/Prototypes/Imperial/Medieval/rpgspawns.yml
  Resources/Textures/Imperial/Medieval/Clothing/Armor/goblin_iron_armor.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Imperial/Medieval/Clothing/Armor/goblin_iron_armor.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Armor/goblin_iron_armor.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Clothing/Armor/goblin_leather_armor.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Imperial/Medieval/Clothing/Armor/goblin_leather_armor.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Armor/goblin_leather_armor.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Clothing/Armor/goblin_wood_armor.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Imperial/Medieval/Clothing/Armor/goblin_wood_armor.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/Armor/goblin_wood_armor.rsi/meta.json
Labels: Change WIz Prototypes, Prototypes, Resprite, Sprite, size/Small

#151 Правки
  Resources/Textures/Imperial/Medieval/Clothing/ShitCloth/shit_cloth_67.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Imperial/Medieval/Clothing/ShitCloth/shit_cloth_67.rsi/icon.png
Labels: Resprite, Sprite, size/Small

#158 Кастомизация фурри
  Resources/Locale/ru-RU/Imperial/Medieval/medieval.ftl
  Resources/Prototypes/Imperial/Medieval/customization.yml
  Resources/Prototypes/Imperial/Medieval/zveres.yml
  Resources/Textures/Imperial/Medieval/Species/Customization/Zveres/ears.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Species/Customization/Zveres/ears.rsi/t_0.png
  Resources/Textures/Imperial/Medieval/Species/Customization/Zveres/ears.rsi/t_1.png
  Resources/Textures/Imperial/Medieval/Species/Customization/Zveres/ears.rsi/u_0.png
  Resources/Textures/Imperial/Medieval/Species/Customization/Zveres/ears.rsi/u_1.png
  Resources/Textures/Imperial/Medieval/Species/Customization/Zveres/spots.rsi/allbody.png
  Resources/Textures/Imperial/Medieval/Species/Customization/Zveres/spots.rsi/belly.png
  Resources/Textures/Imperial/Medieval/Species/Customization/Zveres/spots.rsi/eye_left.png
  Resources/Textures/Imperial/Medieval/Species/Customization/Zveres/spots.rsi/eye_right.png
  Resources/Textures/Imperial/Medieval/Species/Customization/Zveres/spots.rsi/jaw.png
  Resources/Textures/Imperial/Medieval/Species/Customization/Zveres/spots.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Species/Customization/Zveres/tails.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Species/Customization/Zveres/tails.rsi/rounded.png
  Resources/Textures/Imperial/Medieval/Species/Customization/Zveres/tails.rsi/short.png
  Resources/Textures/Imperial/Medieval/Species/Zveres/parts.rsi/ears.png
  Resources/Textures/Imperial/Medieval/Species/Zveres/parts.rsi/ears_in.png
  Resources/Textures/Imperial/Medieval/Species/Zveres/parts.rsi/ears_out.png
  Resources/Textures/Imperial/Medieval/Species/Zveres/parts.rsi/head_f.png
  Resources/Textures/Imperial/Medieval/Species/Zveres/parts.rsi/head_m.png
  Resources/Textures/Imperial/Medieval/Species/Zveres/parts.rsi/meta.json
Labels: Change WIz Prototypes, Prototypes, Resprite, Sprite, size/Small

#156 фикс даркмага
  Content.Client/Imperial/Medieval/DarkMage/DarkMageOverlay.cs
  Content.Server/Imperial/Medieval/DarkMage/DarkMageSystem.cs
  Content.Shared/Imperial/Medieval/DarkMage/DarkMageComponents.cs
Labels: C#

#155 крафты и слот для гоблинов
  Resources/Locale/ru-RU/Imperial/Medieval/medieval.ftl
  Resources/Locale/ru-RU/Imperial/Medieval/workpieces.ftl
  Resources/Prototypes/Imperial/Medieval/Smithing/workpieces.yml
  Resources/Prototypes/Imperial/Medieval/armor.yml
  Resources/Prototypes/Imperial/Medieval/lather_smith_resipes.yml
  Resources/Prototypes/Imperial/Medieval/latheresipes.yml
  Resources/Prototypes/Imperial/Medieval/lathes.yml
  Resources/Prototypes/Imperial/Medieval/medieval.yml
Labels: Change WIz Prototypes, Prototypes, size/Small

#157 Area Markers
  Content.Client/Imperial/Medieval/AreaMarker/AreaMarkerUiController.cs
  Content.Client/Imperial/Medieval/AreaMarker/AreaMarkerView.cs
  Content.Client/UserInterface/Screens/DefaultGameScreen.xaml
  Content.Client/UserInterface/Screens/DefaultGameScreen.xaml.cs
  Content.Client/UserInterface/Screens/SeparatedChatGameScreen.xaml
  Content.Client/UserInterface/Screens/SeparatedChatGameScreen.xaml.cs
  Content.Shared/Imperial/Medieval/AreaMarker/AreaMarkerAnnounceEvent.cs
  Content.Shared/Imperial/Medieval/AreaMarker/AreaMarkerComponent.cs
  Content.Shared/Imperial/Medieval/AreaMarker/AreaMarkerInvokerComponent.cs
  Content.Shared/Imperial/Medieval/AreaMarker/AreaMarkerSystem.cs
  Resources/Fonts/Imperial/Vinque/Typodermic Desktop EULA 2023.pdf
  Resources/Fonts/Imperial/Vinque/Vinque.otf
  Resources/Locale/ru-RU/Imperial/Medieval/marker.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Imperial/Medieval/area_markers.yml
  Resources/Prototypes/Imperial/Medieval/medieval.yml
Labels: Change Wiz Code, C#, Change WIz Prototypes, Prototypes, UI, size/Small

#162 Изменения питча
  Content.Server/Chat/Systems/ChatSystem.Emote.cs
Labels: Change Wiz Code, C#, size/Small

#164 фикс даркмага, опять
  Content.Server/Imperial/Medieval/DarkMage/DarkMageSystem.cs
Labels: C#, size/Small

#160 Ступка и пестик
  Content.Server/Imperial/Medieval/Chemistry/MortarSystem.cs
  Content.Shared/Imperial/Medieval/Chemistry/MortarComponent.cs
  Content.Shared/Imperial/Medieval/Chemistry/MortarToolComponent.cs
  Resources/Locale/ru-RU/Imperial/Medieval/chemistry.ftl
  Resources/Prototypes/Imperial/Medieval/medievalchem.yml
  Resources/Textures/Imperial/Medieval/Chem/mortar.rsi/inhand-left.png
  Resources/Textures/Imperial/Medieval/Chem/mortar.rsi/inhand-right.png
  Resources/Textures/Imperial/Medieval/Chem/mortar.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Chem/mortar.rsi/stupca.png
  Resources/Textures/Imperial/Medieval/Chem/mortar.rsi/stupca1.png
  Resources/Textures/Imperial/Medieval/Chem/mortar.rsi/stupca2.png
  Resources/Textures/Imperial/Medieval/Chem/mortar.rsi/stupca3.png
  Resources/Textures/Imperial/Medieval/Chem/mortartool.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Chem/mortartool.rsi/inhand-left.png
  Resources/Textures/Imperial/Medieval/Chem/mortartool.rsi/inhand-right.png
  Resources/Textures/Imperial/Medieval/Chem/mortartool.rsi/meta.json
Labels: Change Wiz Code, C#, Change WIz Prototypes, Prototypes, Resprite, Sprite, size/Small

#166 Фикс иконок
  Resources/Textures/Imperial/Medieval/Misc/job_icons.rsi/legion_jailed.png
  Resources/Textures/Imperial/Medieval/Misc/job_icons.rsi/legion_jailer.png
Labels: Resprite, Sprite, size/Small

#159 Fraction alchemics
  Resources/Locale/ru-RU/Imperial/Medieval/medieval.ftl
  Resources/Prototypes/Imperial/Medieval/clothes.yml
  Resources/Prototypes/Imperial/Medieval/custom_departments.yml
  Resources/Prototypes/Imperial/Medieval/job_spawnpoints.yml
  Resources/Prototypes/Imperial/Medieval/jobs.yml
  Resources/Prototypes/Imperial/Medieval/map.yml
  Resources/Textures/Imperial/Medieval/Clothing/ShitCloth/shit_cloth_68.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Imperial/Medieval/Clothing/ShitCloth/shit_cloth_68.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Clothing/ShitCloth/shit_cloth_68.rsi/inhand-left.png
  Resources/Textures/Imperial/Medieval/Clothing/ShitCloth/shit_cloth_68.rsi/inhand-right.png
  Resources/Textures/Imperial/Medieval/Clothing/ShitCloth/shit_cloth_68.rsi/meta.json
  Resources/Textures/Imperial/Medieval/Misc/job_icons.rsi/ins_alc.png
  Resources/Textures/Imperial/Medieval/Misc/job_icons.rsi/legion_alc.png
  Resources/Textures/Imperial/Medieval/Misc/job_icons.rsi/meta.json
Labels: Change WIz Prototypes, Prototypes, Resprite, Sprite, size/Small

#169 Эффект телепортации
  Resources/Audio/Imperial/Medieval/Teleport_app.ogg
  Resources/Prototypes/Imperial/Medieval/teleport_effect.yml
  Resources/Textures/Imperial/Medieval/Effects/Teleport.rsi/Teleport.png
  Resources/Textures/Imperial/Medieval/Effects/Teleport.rsi/meta.json
Labels: Change WIz Prototypes, Prototypes, Resprite, Sprite, size/Small, Audio

#167 Тёмный меч
  Resources/Locale/ru-RU/Imperial/Medieval/medieval.ftl
  Resources/Prototypes/Imperial/Medieval/melee.yml
  Resources/Textures/Imperial/Medieval/Melee/dark_sword.rsi/equipped-BACKPACK.png
  Resources/Textures/Imperial/Medieval/Melee/dark_sword.rsi/equipped-BELT.png
  Resources/Textures/Imperial/Medieval/Melee/dark_sword.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Imperial/Medieval/Melee/dark_sword.rsi/icon.png
  Resources/Textures/Imperial/Medieval/Melee/dark_sword.rsi/inhand-left.png
  Resources/Textures/Imperial/Medieval/Melee/dark_sword.rsi/inhand-right.png
  Resources/Textures/Imperial/Medieval/Melee/dark_sword.rsi/meta.json
Labels: Change WIz Prototypes, Prototypes, Resprite, Sprite, size/Small

#172 Mortar Improvement
  Content.Server/Imperial/Medieval/Chemistry/MortarSystem.cs
  Resources/Prototypes/Imperial/Medieval/medievalchem.yml
Labels: Change Wiz Code, C#, Change WIz Prototypes, Prototypes, size/Small

#171 броня гоблинов допилена
  Content.Server/Imperial/Medieval/WhitelistClothing/WhitelistClothingSystems.cs
  Content.Shared/Imperial/Medieval/WhitelistClothing/WhitelistClothingComponents.cs
  Resources/Prototypes/Imperial/Medieval/armor.yml
  Resources/Prototypes/Imperial/Medieval/mobs.yml
Labels: Change Wiz Code, C#, Change WIz Prototypes, Prototypes, size/Small

#170 крафты и фикс
  Resources/Prototypes/Imperial/Medieval/medieval.yml
  Resources/Prototypes/Imperial/Medieval/medievalchem.yml
  Resources/Prototypes/Imperial/Medieval/mobs.yml
Labels: Prototypes, size/Small

#161 Badsmell additions
  Content.Server/Imperial/Medieval/BadSmell/BadSmellDesriptionSystem.cs
  Content.Shared/Imperial/Medieval/BadSmell/BadSmallVisualsEnum.cs
  Content.Shared/Imperial/Medieval/BadSmell/CleaningActionEvent.cs
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Content.Shared/Maps/ContentTileDefinition.cs
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Imperial/Medieval/decor.yml
  Resources/Prototypes/Imperial/Medieval/medieval.yml
  Resources/Prototypes/Imperial/StationsContent/HephaestusStation/tiles.yml
  Resources/Prototypes/Imperial/Tiles/imperial_floors.yml
  Resources/Prototypes/Tiles/floors.yml
  Resources/Prototypes/Tiles/planet.yml
  Resources/Prototypes/Tiles/plating.yml
  Resources/Prototypes/Tiles/space.yml
  Resources/Textures/Imperial/Medieval/BadSmell/species.rsi/dirty1.png
  Resources/Textures/Imperial/Medieval/BadSmell/species.rsi/dirty2.png
  Resources/Textures/Imperial/Medieval/BadSmell/species.rsi/dirty3.png
  Resources/Textures/Imperial/Medieval/BadSmell/species.rsi/dirty4.png
  Resources/Textures/Imperial/Medieval/BadSmell/species.rsi/meta.json
Labels: Change Wiz Code, C#, Change WIz Prototypes, Prototypes, Resprite, Sprite
